{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/aboutus.css"> -->
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">わたしたち</h1>

<div id="backgroundimage">
    <img src="" id="bgimage-1" style="opacity:1;">
    <img src="" id="bgimage-2">
    <img src="" id="bgimage-3">
    <img src="" id="bgimage-4">
</div>
<div id="backgroundimagemask"></div>

<section id="will">
    <h2>志</h2>
    <h3>男木島の“いま”を残し続ける</h3>
    <p>
        100年以上前の姿が残る石垣の街並みや家屋、穏やかな海と広大な空、大自然。人間の生活に溶け込んだ約70匹の猫たち。
        “いま”のままでもとても素敵であるのに、その魅力が埋もれてしまっていて伝わりにくい。そんな現状を変えたいと思っています。
    </p>
    <p>
        何か新しい変革を起こすわけではなく、島のありのままの自然を可能な限り活かしたい。
        それらを、まだ男木島を知らない人たちに知ってもらうところからはじめます。
    </p>
</section>

<section id="mission">
    <h2>使命</h2>
    <h3>男木島の魅力を伝え、<br class="sp-br">「また来たい」をつくる</h3>
    <p>    
        私たちはこの活動で、男木島の関係人口を増やすことを目指しています。
        私たちが定義する関係人口は、簡潔にいうと「観光客＜関係人口＜移住者」です。
        一度男木島に観光で訪れてそれっきりではなく、そこから二度三度訪ねたいと思ってもらえたり、その人が友人や家族を連れてきてくれたり、SNSに投稿したりしていただけるような継続した関係を築くことです。
    </p>
    <p>
        また、島の環境・島の方々にお世話になることで男木島への気持ちが膨らみ、「男木島のために何かしたい」・「男木島に住みたい」と思ってもらえるようなところまで繋げることができればうれしいと思っています。
    </p>
</section>

<section id="belief">
    <h2>信条</h2>
    <div class="belief-list">
        <div class="belief-content belief-content-1">
            <div>
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLVIBMA3sXIQncc7kokqDR7PtnTYrgTV7PxYmon6hTIP0L9uA4zN1jM3mvSiZT6YnR3cODHdv2HuTFWTK4ZHplmUB11lof7MQkoad0gLA62DfRHlKG12j7SbpzuEC3s6L8m0g_8zXMglVdmH2-VO2iRR=s0">
                <h3>島との対話<br>〈島に対して〉</h3>
            </div>
            <p>
                島の自然。島の方々。島の生き物たち。全てと心を通じて対話する。そんな気持ちを持って男木島と向き合います。
            </p>        
        </div>
        <div class="belief-content belief-content-2">
            <div>
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWZp4-9TdJn89XAC7BFQHO9UaZLeShXXlwjScHG14XmjrIlqU0SPAaQ6hDHJRQIGKaEcYJtIfq4HJddhn2ejgLdRug1_-_6dJYJSsTGf_GUwopl4S4GQ3vzlRSPgkyrhZHEEhg9p9o3nXx69--biK5b=s0">
                <h3>個の着彩<br>〈仲間に対して〉</h3>
            </div>
            <p>
                異なる経歴を持つ個性豊かなメンバーが勢揃いしているので、その個性を潰すことなく、互いに尊重し、男木島のために活かしていきたいと思っています。
            </p>        
        </div>
        <div class="belief-content belief-content-3">
            <div>
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLU-VX9m1wY6Do8bRoljsxVK-ostG8mIS-t0dHwo9TuE0nYFiww3r5QhXqETPNfFEMSxMeQt2xol_ShQPQuArAa8Osas0C7FSiM6Im7611yCl-NXihojqXw_HwMluV8DbJaIogJOKzaMcs52atHT6rH_=s0">
                <h3>経験と成長<br>〈自分に対して〉</h3>
            </div>
            <p>
                “学び”という価値観を軸に、このプロジェクトでの活動が有意義な時間となるよう、それぞれ目的を持って取り組みます。
            </p>
        </div>
    </div>
</section>

<section id="business">
    <h2>事業</h2>
    <h3>アートギャラリー・<br class="sp-br">イベントスペースの運営</h3>
    <p>
        廃倉庫をリノベーションして、アートギャラリー兼イベントスペースに生まれ変わらせました。この倉庫で、島民と観光客をつなぐ企画を実施し、掲げた「志」「使命」を実現させます。
    </p>
    <p>詳細は<a href="{% url 'ogijima:aikien_service' %}">こちら</a></p>
</section>

<section id="source">
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLXLj0RWEv_vdOUUdAQ7bWzXJysa6cJ1nsosYRULTDaO5PTYxZAtzDRwMhgTS7LLvJC-rlL9drUaSiXBshebeGyS7FRlQm0-ZhCU-dKUXJdUEd_JAGk6jJwwZfGOlBdCdozDtoYc_ytg4S_OsO9EnfXH=w1259-h839-no?authuser=5">
    <div>
        <h2>あいきえん由来</h2>
        <h3 class="source-1">一、四字熟語「合縁奇縁」</h3>
        <div class="source-1-list">
            <div>
                <h4 class="source-2">合縁</h4>
                <p class="source-3">人と人との結びつき</p>
            </div>
            <div>
                <h4 class="source-2">奇縁</h4>
                <p class="source-3">不思議な巡り合わせ</p>
            </div>
        </div>
        <h3 class="source-1" style="margin-top: 48px;">二、関西弁「愛、消えん」</h3>
        <h4 class="source-2">男木島を愛する“きもち”</h4>
        <p class="source-4" style="margin-top: 36px;">島民の方や観光客などたくさんの人とのご縁を生みだし、永く大切にしていきたいという想いが込められています。人と人とのご縁が生まれる場所となりますように。</p>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/aboutus.js' %}"></script>
{% endblock %}