{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'css/aikien_service.css' %}">
{% endblock %}

{% block main_panel %}

<!-- アイデア１　サイドメニューを追加 -->
<!-- <nav id="sidemenu">
    <img src="{% static 'image/logo/logo_HP_yoko_brown.svg' %}">
    <ul>
        <li><a href="#ogijima">男木島</a></li>
        <li><a href="#aikien">アートギャラリー・<br>イベントスペース</a></li>
        <li><a href="#place">利用場所</a></li>
        <li><a href="#price">利用料金</a></li>
        <li><a href="#reservation-status">予約状況</a></li>
        <li><a href="#precautions">注意事項</a></li>
        <li><a href="#terms-of-service">利用規約</a></li>
        <li><a href="#apply-form">利用申込フォーム</a></li>
    </ul>
</nav> -->

<!-- デザイン１ -->
<!-- <section id="top">
    <img class="top__bg" src="https://lh3.googleusercontent.com/pw/AM-JKLWsYfZPddo8uz2xd8Bq68-s6p7zu154R-rjSQltI5UsXQKIvS1C-yo3THp-PRRrWVvNsq50qP8NFi18QQYZqPJb6_m5udFXiL1FS9AWWX8Pqczt4YsnXjbnw60cA8pjS3ABLLPhFFqxatlzXIFUiNY=s0">
    <div class="top-title">
        <h1>
            <img src="{% static 'image/logo/logo_HP_yoko_brown.svg' %}" alt="あいきえん">
            <br>アートギャラリー・イベントスペース
        </h1>
    </div>
</section> -->

<!-- デザイン２ -->
<section id="top">
    <img class="top__bg" src="https://lh3.googleusercontent.com/pw/AM-JKLWsYfZPddo8uz2xd8Bq68-s6p7zu154R-rjSQltI5UsXQKIvS1C-yo3THp-PRRrWVvNsq50qP8NFi18QQYZqPJb6_m5udFXiL1FS9AWWX8Pqczt4YsnXjbnw60cA8pjS3ABLLPhFFqxatlzXIFUiNY=s0">
    <div class="top-title">
        <h1>
            <img src="{% static 'image/logo/logo_HP_yoko_white.svg' %}" alt="あいきえん">
            <br>アートギャラリー
            <br>イベントスペース
        </h1>
    </div>
</section>

<section id="ogijima">
    <h2 class="slideinbottom">～　芸術の息吹を、瀬戸内の潮風に添えて　～</h2>
    <div class="ogijima-description">
        <p class="slideinbottom">
            男木島は、瀬戸内海に浮かぶ小さな島です。<br>
            100年以上前の姿が残る石垣の街並みや家屋。<br>
            瀬戸内海の穏やかな海に囲われた、のどかな空気。<br>
            早春には、島をやわらかに包み込む甘い水仙の香り。<br>
            息をするのを忘れさせる夕日。<br>
            人間の生活に溶け込んだ約70匹の島猫たち。<br><br>
            こんなノスタルジーあふれる男木島が、きっとあなたにもやすらぎを与えてくれるはずです。
        </p>
        <div class="swiper delay" id="swiper">
            <div id="swiper-wrapper" class="swiper-wrapper">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLWD91wEMBkbIT2S2GK0k3uwZJWsN6r6FiRvUdVgKps7KdHgIlQ-Ql8LbAmopvPJwXyGQilDp-ZK5dvNfy5aJyPx-uB9LA8WuM9ftg528koDt1Mwpgn35CfcDKcGLXF_Hj3E6ZUjGWb92bWiiOA0wDc=s0">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLV0kwhNR1IyMWEAN_J2WFW6gNh7GLBvV-pOZs_g6CtaukvsNP63_VoMTxp6qwOS_w6tquhJCB59miVaDNf0ZLqC4hGwB9HttneX2WuncUYbBlI0FRIGD3xQEGwb_uBOUtZh-BhCPsY4kMC8EBqeQsQ=s0">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLV67EXb7bcm1IpCHPyLQZFFO883QVFsJQ4eenJJ06CK9MyKcAV2ketVTD7ya-bKIMh2e1zeXaDPUKR_wWvRKbL-lUSNyKTwvnJcPmUIae6LTg8DAEJZZZfumr8DasDLiAeZcrvQeLXc4Q4xQa4L7EY=s0">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLWexOuAVF4N0Xadg-b-QNxAb-s048nNvksMtakPQgHUqKzGgmzEFZEfO3f7eCdBJug-BZbsOs4sx_IQv6fqWI7MZm7uZqpcA5xFHvn5lNC6fnind6mUPTUSzPXx0k9eHMy8LjT5_VPyPcCoN-r2AfGy=s0">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLVQ3I42pkYHk_WRxTeN8e9Cc5qCjR8GRj3a34YwAaDA3MVUQ3ypzryiE7RAPYpyjzGskmm1_NZ7txPNzQrLi6VTZb1CTpbQHkn618k_X1sxvOBezA_8y-krqH69RiGRjVRwDZzlWEwQWsTMJoZtMk-O=s0">
                <img class="swiper-slide" src="https://lh3.googleusercontent.com/pw/AM-JKLXa2v55_fDNiN9kLRTA_8rm8YeVoBxdiF6Ux51KdZDNX-2tjy056C5exAayib6nENfbf8kpczDGeIT95eQkV2bzsjGS6KnOkKJA3w1BZPtbLx7w5or2iYEQxDi6hjWH2dQqThxtJtLZM_xC22r5-hUF=s0">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
</section>

<section id="aikien">
    <h2 class="section-title" style="text-align:center;">あいきえん</h2>
    <p class="slideinbottom" style="text-align:center;">
        あいきえんは、男木島の南にあるアートギャラリー兼イベントスペースです。<br>
        廃倉庫をリノベーションすることで生まれ変わりました。<br>
        海に面し、潮風が薫るこの場所で、日本一自然に近い美術館を開いてみませんか？
    </p>
    <div class="reference-image">
        <div class="reference-image__wrapper">
            <img src="" id="reference-image-window">
            <p></p>
        </div>
        <div id="reference-image__list" class="reference-image__list"></div>
    </div>
</section>

<div class="separation-title">
    <h2>利用について</h2>
    <div><img src="https://lh3.googleusercontent.com/pw/AM-JKLXo6_3a1NdTAGUTvDluqCI3f8dFFXC-EiskC0aPgN08Liw59sMjUAyVjpqdFt0kKrmBLEJY_Ljsen6V3MdSmE7wQrq3wWPiVl85bemN8epYMWWJC4ihWt2xIwVmbE8Hyocl2NquaYNeKY0tc_F7GTDu=s0"></div>
    <div class="separation-mask"></div>
</div>

<section id="place">
    <h2 class="section-title">利用場所</h2>
    <!-- <p>
        あいきえん内は「アートギャラリー部」「キッチン部」の2部分に分かれており、それぞれ適する使用用途、広さが異なります。
    </p> -->
    <div class="place-flex__wrapper">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLVefe_MeqGCKCUBkfr93RDsCEH-1MBXkJLhm7Bng9YIrpe1Gvvcve5W2jbRNln3hTLNOZQpQb6XrfEpL_a_GMVPX3PvQo_osHoFu95uK7lz7ep9LER74bdUYP7kvrWN7Gxl_1gRcl3vkn367eA0jIFt=w1119-h839-no?authuser=5">
        <div>
            <h4>アートギャラリー部</h4>
            <p>
                倉庫奥のフローリングのある部分。細かな照明の調整が可能であるため、アートギャラリーとしての利用を主とする。原則としてキッチン部の設備は利用できないが、利用がない場合に限り私物の保管や手洗い等に使用してもよい。<br>
                什器はご自由にお使いください。白い展示用パネルが◯枚使用できます。
            </p>        
        </div>
        <div>
            <h4>キッチン部</h4>
            <p>倉庫入口のコンクリート部分。キッチンには以下の機能を有する。原則として「露店営業」の許可範囲内での飲食物の提供が可能である。作業台は展示台として利用することも可能。</p>
            <ul>
                <li>水道</li>
                <li>シンク</li>
                <li>調理器具</li>
                <li>冷蔵庫</li>
                <li>作業台（L字台）</li>
            </ul>
        </div>
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWXMy7cZb6UwQnzgPi-ndnJxRWYwhDIWPBM8y-ddRcUK9k5wrioV8hIgJwiAnUYMKrLhToHfeFankH5p4fCUzVoAVHBlgFyppIWc-UawkxJYViRw-DejVcOfWa57z_hrOrowtedV0Gn-W75KEfyUDlD=w1001-h751-no?authuser=5">
    </div>
</section>

<section id="price">
    <h2 class="section-title">利用料金</h2>
    <div class="plan-select-list">
        <p id="plan-select-list__content-1" class="plan-select-list__content plan-select-list__content-active">アートギャラリー部</p>
        <p id="plan-select-list__content-2" class="plan-select-list__content">キッチン部</p>
        <p id="plan-select-list__content-3" class="plan-select-list__content">全体</p>
    </div>
    <div class="plan-list">
        <div id="plan-list__content-1" class="plan-list__content plan-list__content-1">
            <!-- <h3>アートギャラリー部のみ利用</h3> -->
            <table>
                <tr class="two-lines-top">
                    <th rowspan="2" class="table-2-1"></th>
                    <th colspan="2" style="border:unset;">倉庫使用料（固定）</th>
                    <th rowspan="2" class="table-2-2">販売手数料</th>
                </tr>
                <tr class="two-lines-bottom">
                    <th class="table-2-3">1か月</th>
                    <th class="table-2-3">1週間</th>
                </tr>
                <tr>
                    <td>一般の方</td>
                    <td>90,000円</td>
                    <td>30,000円</td>
                    <td>売り上げの20％</td>
                </tr>
                <tr>
                    <td>学生の方</td>
                    <td>30,000円</td>
                    <td>10,000円</td>
                    <td>売り上げの20％</td>
                </tr>
            </table>
            <ul>
                <li>ここに示す倉庫使用料はあくまで代表例です。使用日数に応じて柔軟に対応させていただきますので、お気軽にご相談ください。</li>
                <li>作品搬入、片づけに必要な期間も含みます。</li>
            </ul>
        </div>
        <div id="plan-list__content-2" class="plan-list__content plan-list__content-2">
            <!-- <h3>入口部（キッチンのみ）利用</h3> -->
            <table>
                <tr>
                    <th class="table-1-1"></th>
                    <th class="table-1-2">倉庫使用料<br class="mobile-br">（デポジット）</th>
                    <th class="table-1-2">販売手数料</th>
                </tr>
                <tr>
                    <td>一般の方</td>
                    <td>1,500円/日</td>
                    <td>売り上げの20％</td>
                </tr>
                <tr>
                    <td>学生の方</td>
                    <td>1,000円/日</td>
                    <td>売り上げの20％</td>
                </tr>
            </table>
            <ul>
                <li>利用申請の際に利用する日時を選択してください。利用日数分の倉庫使用料を事前にいただきます。</li>
                <li>たとえ前後に倉庫を利用する場合であっても利用申請を行わない日は、食材や持ち込み備品を全て撤収してください。</li>
                <li>倉庫使用量に水道、電気料金を含みます。</li>
            </ul>
        </div>
        <div id="plan-list__content-3" class="plan-list__content plan-list__content-3">
            <!-- <h3>全体利用</h3> -->
            <table>
                <tr class="two-lines-top">
                    <th rowspan="2" class="table-2-1"></th>
                    <th colspan="2" style="border:unset;">倉庫使用料（固定）</th>
                    <th rowspan="2" class="table-2-2">販売手数料</th>
                </tr>
                <tr class="two-lines-bottom">
                    <th class="table-2-3">1か月</th>
                    <th class="table-2-3">1週間</th>
                </tr>
                <tr>
                    <td>一般の方</td>
                    <td>120,000円</td>
                    <td>40,000円</td>
                    <td>売り上げの20％</td>
                </tr>
                <tr>
                    <td>学生の方</td>
                    <td>40,000円</td>
                    <td>13,000円</td>
                    <td>売り上げの20％</td>
                </tr>
            </table>
            <ul>
                <li>ここに示す倉庫使用料はあくまで代表例です。使用日数に応じて柔軟に対応させていただきますので、お気軽にご相談ください。</li>
                <li>作品搬入、片づけに必要な期間も含みます。</li>
                <li>利用申請の際に利用する日時を選択してください。利用日数分の倉庫使用料を事前にいただきます。</li>
                <li>たとえ前後に倉庫を利用する場合であっても利用申請を行わない日は、食材や持ち込み備品を全て撤収してください。</li>
                <li>倉庫使用量に水道、電気料金を含みます。</li>
            </ul>
        </div>
    </div>
</section>

<section id="reservation-status">
    <h2 class="section-title">予約状況</h2>
    <div class="reservation-status__wrapper">
        <div class="calender_wrapper">
            <div id="next-prev-button">
                <button id="calender_prev" onclick="prev()">＜</button>
                <p id="calender_header"></p>
                <button id="calender_next" onclick="next()">＞</button>
            </div>
            <div id="calendar"></div>
        </div>
        <p style="margin-top:36px;">
            〇：キッチン部、アートギャラリー部共に空き<br>
            <span class="calendar-green">△</span>：キッチン部のみ空き<br>
            <span class="calendar-blue">□</span>：アートギャラリー部のみ空き<br>
            <span class="calendar-red">×</span>：空き無し
        </p>
    </div>
</section>

<section id="flow">
    <h2 class="section-title">ご利用までの流れ</h2>
    <div class="flow__list">
        <img src="{% static 'image/illust/1170.png' %}">
        <div class="flow__text">
            <h4>申請</h4>
            <p>
                このページの<a href="#apply-form">利用申込フォーム</a>よりお申込み頂きます。
            </p>
        </div>
    </div>
    <div class="flow__list">
        <img src="{% static 'image/illust/0311.png' %}">
        <div class="flow__text">
            <h4>打ち合わせ</h4>
            <p>
                メールやオンラインミーティングで、具体的な内容を打ち合わせさせていただきます。この際、具体的な契約までの流れなどもご説明させていただきます。
            </p>
        </div>
    </div>
    <div class="flow__list">
        <img src="{% static 'image/illust/0891.png' %}">
        <div class="flow__text">
            <h4>成約</h4>
            <p>郵送にて契約書を交わし、ご成約となります。</p>
        </div>
    </div>
</section>

<!-- <section id="precautions">
    <h2 class="section-title">注意事項</h2>
    <ul>
        <li>倉庫内には複数台の監視カメラを設置し防犯に注意していますが、当ギャラリースタッフは基本不在です。会期中の作品の監視・保全はご使用者の責任といたします。開催中の受付要員が必要な場合は使用者様自身で確保お願いいたします。</li>
        <li>什器はご自由にお使いください。白い展示用パネルが◯枚使用できます。</li>
        <li>会場壁面、備品器物等を破損、紛失された場合は実費をご負担いただきます。</li>
        <li>天災など不慮の事故の場合、当ギャラリーではその責任を負いかねますのでご了承ください。</li>
        <li>お申し込みの際と異なった目的に使用する事、及び使用権の転売または譲渡することは固くお断り致します。</li>
        <li>その他ギャラリー使用に関しましては、ご利用規約をお読みの上ご相談下さい。</li>
    </ul>
</section> -->

<section id="terms-of-service">
    <h2 class="section-title">利用規約</h2>
    <p>
        利用規約は、<span id="open-terms-of-service">こちら</span>からご確認ください。
    </p>
    <div id="terms-of-service-modal" class="terms-of-service__bg">
        <div class="terms-of-service__card">
            <h2 class="terms-of-service__title">利用規約</h2>
            <p id="terms-of-service__close-btn" class="terms-of-service__close-btn">×  閉じる</p>
            <div class="terms-of-service__text">
                <p>
                    あいきえん（以下，「弊団体」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
                </p>

                <h3>第１条（個人情報）</h3>
                <p>
                    「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
                </p>

                <h3>第２条（個人情報の収集方法）</h3>
                <p>
                    弊団体は，ユーザーからお問い合わせを頂く際に氏名，メールアドレスなどの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,弊団体の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。
                </p>

                <h3>第３条（個人情報を収集・利用する目的）</h3>
                <p>
                    弊団体が個人情報を収集・利用する目的は，以下の通りです。
                </p>
                <ul>
                    <li>本サービスの提供・運営のため</li>
                    <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
                    <li>ユーザーとの取引、契約の際のご連絡のため</li>
                    <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
                    <li>不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
                    <li>ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
                    <li>上記の利用目的に付随する目的。</li>
                </ul>

                <h3>第４条（利用目的の変更)</h3>
                <ul>
                    <li>弊団体は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</li>
                    <li>利用目的の変更を行った場合には，変更後の目的について，弊団体所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="apply-form">
    <h2 class="section-title">利用申込フォーム</h2>
    <p>
        アートギャラリー・イベントスペースのご利用に関するご質問等は、<a href="{% url 'ogijima:contact' %}">こちら</a>より受け付けております。件名にて、アートギャラリー・イベントスペースに関してであることをご明記の上、お問い合わせください。
    </p>
    <p>
        お申し込みの際は、
        <!-- <a href="https://drive.google.com/file/d/11-cCfUR5d2couktFxIIZKV3mRNVyEXJw/view?usp=sharing" target="application">利用規約</a>
        と -->
        <a href="https://drive.google.com/file/d/11-cCfUR5d2couktFxIIZKV3mRNVyEXJw/view?usp=sharing" target="terms">申込書</a>
        をダウンロードして、<!-- 利用規約に同意、 -->申込内容をご記入の上、以下のフォームよりお申込みください。
    </p>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="privacypolicy-check__wrapper">
            <p><a href="{% url 'ogijima:privacypolicy' %}" target="privacypolicy">プライバシーポリシー</a>に同意する</p>
            <input id="privacypolicy-check" type="checkbox"><label for="privacypolicy-check"></label>
        </div>
        <button id="submit-button" type="submit" disabled="true">送信</button>
        <div id="button-cover">送信</div>
    </form>
</section>

{% comment %}
<h4 id="locationinfo" class="locationinfo__title">位置情報</h4>
<div class="locationinfo">
    <div class="map__frame mousedragscrollable">
        <div id="map" class="map">
            <div class="map__wrapper">
                <!-- <img id="map__image" class="map__image" src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/map/map_4.svg"> -->
                <img id="map__image" class="map__image" src="{% static 'image/map/map_4.svg' %}">
                <p class="place place-port">男木港</p>
                <p class="place place-school">男木島小・中学校</p>
                <!-- <p class="place place-aikien">あいきえん</p> -->
                <div id="mark" class="mark mark-art">
                    <i class="fas fa-palette"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="map__text">
        <p><a href="{{ art.apple_maplink }}" class="map-link-apple" target="map">地図アプリで開く</a></p>
        <p><a href="{{ art.google_maplink }}" class="map-link-google" target="map">GoogleMapで開く</a></p>
        <p><a href="{{ art.google_maplink }}" class="map-link-pc" target="map">地図を開く</a></p>
    </div>
</div>
{% endcomment %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script>
    document.getElementById('id_content').rows = 6;
    var screenHeight = window.screen.height;
    window.addEventListener('scroll', () => {
        var scrollY = window.pageYOffset;
        var submenuUl = document.querySelectorAll('.sub');
        // ヘッダーお試し
        if(scrollY*1.3 < screenHeight){
            // document.querySelector('header').style.backgroundColor = "rgba(239, 228, 213, " + (scrollY*1.3 / screenHeight) + ")";
            // for(let i = 0; i < submenuUl.length; i++){
            //     submenuUl[i].style.backgroundColor = "rgba(239, 228, 213, " + (scrollY / screenHeight)*0.85 + ")";
            // }
            document.querySelector('header').style.transform = "translateY(-100%)";
        }else{
            // document.querySelector('header').style.backgroundColor = "rgba(239, 228, 213, 1)";
            // for(let i = 0; i < submenuUl.length; i++){
            //     submenuUl[i].style.backgroundColor = "rgba(239, 228, 213, 0.85)";
            // }
            document.querySelector('header').style.transform = "translateY(0%)";
        }
    })

    var imageList = [
        ["https://lh3.googleusercontent.com/pw/AM-JKLX8Ywa7fOiWypBUgOkPKWTKiBpr1mxbDgxl1VV2Tat8u4V0Nf_9nZWn3norY869h9Qj7dsZtuOiIeuPstuE1i_EA4-Eh169y2IlmdefOV-Z0paN89AjBo9wJ8s43_hCB9TvC6y3EjvK0c091T6KMmd6=w1119-h839-no?authuser=5","外観"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLWfV5Giom20MiYtNt6efozFBhI4wdkK_w9uHjg6_xSazqtE7OuUCw6Emble2xtmdyciROV5hELNcYAUFGW1UV2funk_m15TknY0jmgiOUZ5cyPiYpXm1RJn4e8TpJiPkNt1Z1vLFiZEtng2tjApnTI=w640-h480-no?authuser=5","外観"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLXeJarnNXFjU-q_N37R4w7QGd9iufog_Hz7tdVZaUj7lgP_9JLb3JF8zLNqH9LAWUubGhCT-WzdxZnfd8mY3zj2N8ZCgLR6MsO7knyTuW3--ctW1W4pT9fdvEbaGCxEjnO9jU74u7nsJWUlWhKdjQfd=w630-h839-no?authuser=5","外観"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLXoCwxfl8sItQM_UP58wsWc5AdyWypNIt5BGcNp3dscj9Ki3uS5f5yP4nLESzf2Ap00i1vu3pk9thyvFoYS26d37B0VQiZThz-GDpbidnxQTQFzp_Bpn7buHT-eLDzOuhol9QfU38iaVQwtekKQMgHi=w1119-h839-no?authuser=5","看板"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLWsYfZPddo8uz2xd8Bq68-s6p7zu154R-rjSQltI5UsXQKIvS1C-yo3THp-PRRrWVvNsq50qP8NFi18QQYZqPJb6_m5udFXiL1FS9AWWX8Pqczt4YsnXjbnw60cA8pjS3ABLLPhFFqxatlzXIFUiNY=w960-h720-no?authuser=5","内装"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLW_9rGhfBIaZ_M4W3CLXTxdCStFyVOgKbhLrO2ihr33rRd7U9Z7WWP2F4OxmHVdxPg-z_fpklSAyPxihKfUZ9SSttCb4cskOOnt5eKo2V8KclKN7mMNO193xOGMBSsqy7CDQxbVX0JgB1latMvTd74m=w1119-h839-no?authuser=5","中から入口を見た様子"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLUigpQ-NcO96EQU0RlbJ-7mQlGwVl7V7e_xKywBBXs6UI_dTUPtygLo-E99VyzlERZoUFk5c0svt84X1nAc9ektxzZoDiy8dL7qLrfyosoVFbB3HDaawfabsroVtfHdQYk7sF1BN2hKaKwfTuq5_Qsr=w1259-h839-no?authuser=5","天井の柱と照明"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLWmD1G-kjAT0Ke5xWTdEi5aio_M9MsjKahyJBkWdvsN1Ltb7PoSuz2QVxY0KDhmiMS1HPUk0UklaAAnf39hMoY18KgyvoMZv9My4Yw6_pGnfQzR2CxJy1Kz5dh0YnOCTibvOMkjugOWqUM8dcQyTyXo=w1119-h839-no?authuser=5","倉庫奥の窓"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLXI32SJ3jdgAUTKGkjKsuEJU3tRFK3AIf1hOwYIYV_fUT6F3kuj4h2gTJjJhzZq2hsfBsqX_v8sAxeSiYC7h0h8GDIa9rOAiafa_uK16U6T_bwZAWRgZQu6jp1mENZ7Nlamh9U2YV_EuMEyMLeXjcxx=w630-h839-no?authuser=5","床"],
        ["{% static 'image/drawing.png' %}","図面"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLWMVBD9yzQZMqrBmoKwJX3YTUddlPOteaPEuf6x3cLUMtcsRnYgBbT0rQpJwOuzax7Bqn8NYXvZRQedwYoK0ooC8iXtyC4HTz4OAbN11yotalRnY4zoLzMwju4jiZ92MdspLEzgWx7E5wmtn4Ox9ICJ=w1119-h839-no?authuser=5","イベント開催の様子"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLUI-V3zDYMp1JkrRQAVxUtaOQEOk53ImFXV76T6SkHSddr8Ui12JZndUYkOqW0DlCwcNfeZxoK47yQYPdghTTqsvh_cP9B4RvsUkdwGHHkzYy8ioImV78WitamQ1LdM4cWs-QO1FuGab4mtG00l090a=w1920-h567-no?authuser=5","イベント開催の様子"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLXDcyoIQ_GXKHc3zaORf1SJfq8HgekMuMXt01cIBCWJHcBPUYjUBYtYEN3ucFYYVNx5IzSa-dJPvqvtPFy6g9_S9b3zyVbgzuRSkRsqsnQa62E63ftnj31ndUDx1umEO0BvEk1t1yHqj7N7_cQHVW3G=w1119-h839-no?authuser=5","イベント開催の様子"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLVQjULGi4I4-t8qfe0CoQBWpObi8steg397M1WwFiwPQGtqGRmd9GwMrVUoSzoggka5JD8i7wBtOYK1eRWlaiROMXb1l8kWj82CkqF45IaQIjJp97h0tcmHYVa0DnJ5raI-BHUygTos1PuzS7Yj_2V0=w1119-h839-no?authuser=5","イベント開催の様子"],
        ["https://lh3.googleusercontent.com/pw/AM-JKLU9HlGjZATbBTa2AMFilLD1atN7z2EHACx_CksXiFuK-XueoqJYEjN2FZ3QAzPfS781L8VI2skLsN6tiQZbHyJo6EFRGHZiuT_Y1blhR_8wgnn5UzN7whduslPtiZ1n6GiaarQsxf_AP6kyCSlD3vC8=w1119-h839-no?authuser=5","イベント開催の様子"],
    ]
    document.getElementById("reference-image-window").src = imageList[0][0];
    document.querySelector('.reference-image__wrapper p').innerText = imageList[0][1]
    for(let i = 0; i < imageList.length; i++){
        let smallImage = document.createElement('img');
        smallImage.src = imageList[i][0];
        smallImage.id = "image-" + i;
        document.getElementById('reference-image__list').appendChild(smallImage);
        document.getElementById('image-' + i).addEventListener('click', () => {
            document.getElementById("reference-image-window").src = imageList[i][0];
            document.querySelector('.reference-image__wrapper p').innerText = imageList[i][1]

        })
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("privacypolicy-check").addEventListener('change', () => {
            if(document.getElementById("privacypolicy-check").checked){
                document.getElementById("submit-button").style.opacity = 1;
                document.getElementById("submit-button").disabled = false;
                document.getElementById("button-cover").style.display = "none";
            }else{
                document.getElementById("submit-button").style.opacity = 0.3;
                document.getElementById("submit-button").disabled = true;
                document.getElementById("button-cover").style.display = "block";
        }
        })
        document.getElementById("button-cover").addEventListener('click', () => {
            swal('プライバシーポリシーに同意して、チェックボックスをチェックしてください。');
        })

        
        document.querySelector('label[for="id_name"]').innerText = "名前";
        document.querySelector('label[for="id_mail"]').innerText = "メールアドレス";
        document.querySelector('label[for="id_content"]').innerText = "申込内容";
        document.querySelector('label[for="id_application_file"]').innerText = "利用規約";
        document.querySelector('label[for="id_terms_file"]').innerText = "申込書";

        document.getElementById('id_application_file').parentElement.classList.add('filenamebox__wrapper','filenamebox__wrapper-1');
        document.getElementById('id_terms_file').parentElement.classList.add('filenamebox__wrapper','filenamebox__wrapper-2');
        
        var filenamebox1 = document.createElement('div');
        filenamebox1.classList.add('filenamebox','filenamebox-1');
        var filenameboxInput1 = document.createElement('input');
        filenameboxInput1.type = "text";
        filenameboxInput1.id = "filenameboxInput1";
        filenameboxInput1.placeholder = "select file...";
        filenamebox1.appendChild(filenameboxInput1);
        document.getElementById('id_application_file').insertAdjacentElement('afterend',filenamebox1);

        var filenamebox2 = document.createElement('div');
        filenamebox2.classList.add('filenamebox','filenamebox-2');
        var filenameboxInput2 = document.createElement('input');
        filenameboxInput2.type = "text";
        filenameboxInput2.id = "filenameboxInput2";
        filenameboxInput2.placeholder = "select file...";
        filenamebox2.appendChild(filenameboxInput2);
        document.getElementById('id_terms_file').insertAdjacentElement('afterend',filenamebox2);

        // document.getElementById('mark').innerHTML = "";
        // document.getElementById('mark').innerHTML = "<img src='{% static 'image/logo/aikien_favicon_32.png' %}'>";
    })

    $('input[id=id_application_file]').change(function() {
        $('#filenameboxInput1').val($(this).val().replace("C:\\fakepath\\", ""));
    });
    $('input[id=id_terms_file]').change(function() {
        $('#filenameboxInput2').val($(this).val().replace("C:\\fakepath\\", ""));
    });

    var planListHeight = document.getElementById('plan-list__content-3').clientHeight;
    document.querySelector('.plan-list').style.height = planListHeight * 1.1 + "px";
    document.getElementById('plan-select-list__content-1').addEventListener('click', () => {
        document.getElementById('plan-list__content-1').style.left = "0";
        document.getElementById('plan-list__content-2').style.left = "100%";
        document.getElementById('plan-list__content-3').style.left = "200%";
        document.getElementById('plan-select-list__content-1').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-2').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-3').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-1').classList.add('plan-select-list__content-active');
    })
    document.getElementById('plan-select-list__content-2').addEventListener('click', () => {
        document.getElementById('plan-list__content-1').style.left = "-100%";
        document.getElementById('plan-list__content-2').style.left = "0";
        document.getElementById('plan-list__content-3').style.left = "100%";
        document.getElementById('plan-select-list__content-1').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-2').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-3').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-2').classList.add('plan-select-list__content-active');
    })
    document.getElementById('plan-select-list__content-3').addEventListener('click', () => {
        document.getElementById('plan-list__content-1').style.left = "-200%";
        document.getElementById('plan-list__content-2').style.left = "-100%";
        document.getElementById('plan-list__content-3').style.left = "0";
        document.getElementById('plan-select-list__content-1').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-2').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-3').classList.remove('plan-select-list__content-active');
        document.getElementById('plan-select-list__content-3').classList.add('plan-select-list__content-active');
    })

    document.getElementById('open-terms-of-service').addEventListener('click', () => {
        document.getElementById('terms-of-service-modal').style.display = "block";
        window.setTimeout(() => {
            document.getElementById('terms-of-service-modal').style.opacity = 1;
        }, 1);
    })
    document.getElementById('terms-of-service__close-btn').addEventListener('click', () => {
        document.getElementById('terms-of-service-modal').style.opacity = 0;
        window.setTimeout(() => {
            document.getElementById('terms-of-service-modal').style.display = "none";
        }, 800);
    })

    var defaultEventDayList = "{{ event_day_list }}";
    defaultEventDayList = JSON.parse(defaultEventDayList);
    const week = ["日", "月", "火", "水", "木", "金", "土"];
    const today = new Date();
    var showDate = new Date(today.getFullYear(), today.getMonth(), 1);
    var calendarReloadCount = 0;

    window.onload = function () {
        showProcess(today, calendar);
    };
    function prev(){
        showDate.setMonth(showDate.getMonth() - 1);
        calendarReloadCount -= 1;
        calendarReload(calendarReloadCount);
    }

    function next(){
        showDate.setMonth(showDate.getMonth() + 1);
        calendarReloadCount += 1;
        calendarReload(calendarReloadCount);
    }

    function calendarReload(count){
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'ogijima:aikien_service_calender_reload' %}?count=" + count);
        xhr.addEventListener("load", function () {
            const asyncresponse = JSON.parse(xhr.response).event_day_list;
            const reloadDate = new Date();
            reloadDate.setMonth(reloadDate.getMonth() + count);
            document.querySelector('#calender_header').innerHTML = reloadDate.getFullYear() + "年 " + (reloadDate.getMonth() + 1) + "月";
            document.querySelector('#calendar').innerHTML = createProcess(reloadDate.getFullYear(), reloadDate.getMonth() + count, asyncresponse);
        });
        xhr.send();
    }

    function showProcess(date) {
        var year = date.getFullYear();
        var month = date.getMonth();
        document.querySelector('#calender_header').innerHTML = year + "年 " + (month + 1) + "月";

        var calendar = createProcess(year, month, defaultEventDayList);
        document.querySelector('#calendar').innerHTML = calendar;
    }

    function createProcess(year, month, eventList) {
        var calendar = "<table><tr class='dayOfWeek'>";
        for (var i = 0; i < week.length; i++) {
            calendar += "<th>" + week[i] + "</th>";
        }
        calendar += "</tr>";

        var count = 0;
        var startDayOfWeek = new Date(year, month, 1).getDay();
        var endDate = new Date(year, month + 1, 0).getDate();
        var lastMonthEndDate = new Date(year, month, 0).getDate();
        var row = Math.ceil((startDayOfWeek + endDate) / week.length);

        for (var i = 0; i < row; i++) {
            calendar += "<tr>";
            for (var j = 0; j < week.length; j++) {
                if (i == 0 && j < startDayOfWeek) {
                    calendar += "<td class='disabled'>" + (lastMonthEndDate - startDayOfWeek + j + 1) + "</td>";
                } else if (count >= endDate) {
                    count++;
                    calendar += "<td class='disabled'>" + (count - endDate) + "</td>";
                } else {
                    count++;
                    calendar += "<td class='schedule-" + eventList[count - 1][1] + "'>" + count + "<br></td>"
                }
            }
            calendar += "</tr>";
        }
        return calendar;
    }

    // アイデア１
    // var sidemenuOffset = document.getElementById('sidemenu').offsetTop;
    // window.addEventListener('scroll', () => {
    //     var scrollY = window.pageYOffset;
    //     if(scrollY > sidemenuOffset){
    //         document.getElementById('sidemenu').style.position = "fixed";
    //         document.getElementById('sidemenu').style.marginTop = 0;
    //     }else{
    //         document.getElementById('sidemenu').style.position = "absolute";
    //         document.getElementById('sidemenu').style.marginTop = "120vh";
    //     }
    // })

    var separationOffset = document.querySelector('.separation-mask').offsetTop;
    var screenHeight = window.screen.height;
    var separationFlag = 0;
    window.addEventListener('scroll', () => {
        var scrollY = window.pageYOffset;
        if(scrollY > separationOffset - screenHeight * 0.4 && separationFlag == 0){
            document.querySelector('.separation-mask').style.left = "99vw";
            separationFlag = 1;
            window.setTimeout(() => {
                document.querySelector('.separation-mask').style.display = "none";
            }, 800);
        }
    })

    $(function(){
        $('a[href^="#"]').click(function(){
            var adjust = -36;
            var speed = 300;
            var href= $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top + adjust;
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
        });
    });
    // アイデア１ここまで

    let mySwiper = new Swiper('.swiper', {
        autoplay: {
            delay: 5000,
        },
        effect: 'fade',
        speed: 1000,
        loop: true,
        pagination: {
            el: ".swiper-pagination"
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });

    ScrollReveal().reveal('.slideinbottom', {
        // delay: 400,
        distance: '20px',
        duration: 1800,
        origin: 'bottom',
        // viewFactor: 0.2,
        reset: false,
    });
</script>
{% endblock %}