{% load static %}
<!DOCTYPE html>
<html id="html" lang="ja" class="">
    <head>
        <script>
            // 端末情報を取得
            var userAgent = (function () {
                var ua = navigator.userAgent;
                if (ua.indexOf("iPhone") > 0 || ua.indexOf("iPod") > 0 || ua.indexOf("Android") > 0 && ua.indexOf("Mobile") > 0) {
                    return "sp";
                } else if (ua.indexOf("iPad") > 0 || ua.indexOf("Android") > 0) {
                    return "sp";
                } else {
                    return "pc";
                }
            })();
            document.documentElement.classList.add(userAgent);
        </script>
        <meta charset="utf-8" />
        <title>男木島名物倉庫『あいきえん』｜男木島の“いま”を発信！</title>
        <meta name="keywords" content="男木島,観光,倉庫,アート,リノベーション">
        <meta content='男木島の魅力あふれる観光情報がここに集結！男木島の“いま”を残し続け、「また来たい」をつくる。倉庫をリノベーションして作り上げたアートギャラリーを運営。島民の "生きがい"となる場所を目指し、島民と観光客とを結ぶ架け橋となる。' name="description">
        <meta property="og:title" content="男木島名物倉庫『あいきえん』｜男木島の“いま”を発信！" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="aikien.com" />
        <meta property="og:description" content='男木島の魅力あふれる観光情報がここに集結！男木島の“いま”を残し続け、「また来たい」をつくる。倉庫をリノベーションして作り上げたアートギャラリーを運営。島民の "生きがい"となる場所を目指し、島民と観光客とを結ぶ架け橋となる。' />
        <meta property="og:site_name" content="男木島名物倉庫『あいきえん』｜男木島の“いま”を発信！" />
        <!-- <meta property="og:image" content="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_snscard.png" /> -->
        <meta property="og:image" content="{% static 'image/logo/logo_snscard.png' %}" />
        <meta property="fb:app_id" content="@aikien.ogijimaproject" />
        <meta name="twitter:card" content="summary">
        <!-- <meta property="twitter:image" content="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_snscard.png" /> -->
        <meta property="twitter:image" content="{% static 'image/logo/logo_snscard.png' %}" />
        <meta name="twitter:site" content="@ogijima_project">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- <link rel="apple-touch-icon" sizes="76x76" href="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_snscard.png" /> -->
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/logo/logo_snscard.png' %}" />
        <!-- <link rel="icon" type="image/svg+xml" href="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo\aikien_favicon_32.png" /> -->
        <link rel="icon" type="image/svg+xml" href="{% static 'image/logo/aikien_favicon_32.png' %}" />

        <meta name="google-site-verification" content="tfIhE_ftJgrrWE6XXvOBFVlIvRKzQoO0LIBCUubEavg" />

        <!-- 全体CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet"> 
        <style>
            @font-face {
                font-family: 'ロンド B';
                src: url({% static 'font/Ronde-B_square.otf' %});
            }
            @font-face {
                font-family: 'せのびゴシック';
                src: url({% static 'font/Senobi-Gothic-Regular.ttf' %});
            }
        </style>
        <!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/base.css" /> -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/pagination.css" /> -->
        <link rel="stylesheet" href="{% static 'css/pagination.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic">
        <!-- <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- 各ページCSS -->
        {% block extra_style %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSM0VL7RDC"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FSM0VL7RDC');
        </script>

    </head>

    <body>

        <!-- ヘッダー -->
        {% block header %}
        <header>
            <nav class="header_menu">
                <a href="{% url 'ogijima:top' %}" class="header_image_link">
                    <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_HP_yoko_brown.svg"> -->
                    <img src="{% static 'image/logo/logo_HP_yoko_brown.svg' %}">
                </a>
                <ul class="header_menu_tags" id="header_menu_tags">
                    <button id="close_btn" class="close_btn">×  閉じる</button>
                    <li>
                        <a href="{% url 'ogijima:aboutus' %}">わたしたち</a>
                    </li>
                    <li>
                        <a href="{% url 'ogijima:notifications' %}">おしらせ</a>
                    </li>
                    <li class="sub_menu">
                        <a href="{% url 'ogijima:works' %}">イベント</a>
                        <ul class="sub">
                            <li>
                                <a href="{% url 'ogijima:works' %}">現在開催中</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:planed_works' %}">開催予定</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:held_works' %}">開催記録</a>
                                <div>></div>
                            </li>
                        </ul>
                    </li>
                    <li class="sub_menu">
                        <a href="{% url 'ogijima:reports' %}">活動報告</a>
                        <ul class="sub">
                            <li>
                                <a href="{% url 'ogijima:reports' %}?1">島レポート</a>
                                <div>></div>
                            </li>
                            <li>
                                <a class="space-tight" href="{% url 'ogijima:reports' %}?2">クラウド<br>ファンディング</a>
                                <div>></div>
                            </li>
                            <!-- <li>
                                <a href="{% url 'ogijima:reports' %}?3">寄付サイト</a>
                            </li> -->
                            <li>
                                <a href="{% url 'ogijima:reports' %}?4">オンライン<br>ショップ</a>
                                <div>></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'ogijima:profile' %}">メンバー</a>
                    </li>
                    {% comment %}
                    <li class="sub_menu">
                        <a href="{% url 'ogijima:information' %}">観光情報</a>
                        <ul class="sub">
                            <li>
                                <a href="{% url 'ogijima:information' %}">島内案内マップ</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:arts' %}">アート紹介</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:restaurants' %}">飲食店紹介</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:hotels' %}">宿泊施設紹介</a>
                                <div>></div>
                            </li>
                            <li>
                                <a href="{% url 'ogijima:cats' %}">島猫紹介</a>
                                <div>></div>
                            </li>
                        </ul>
                    </li>
                    {% endcomment %}
                    <li>
                        <a href="{% url 'ogijima:gallery' %}">ギャラリー</a>
                    </li>
                    <li>
                        <a href="{% url 'ogijima:contact' %}">お問い合わせ</a>
                    </li>
                    <li>
                        <a href="{% url 'ogijima:aikien_service' %}">アートギャラリー利用</a>
                    </li>
                    <li>
                        <a href="{% url 'ogijima:sponsor' %}">協賛</a>
                    </li>
                </ul>
                <button id="nav_btn" class="nav_btn">≡</button>
            </nav>
        </header>
        {% endblock %}

        <!-- メイン部分 -->
        <div class="main-panel">
            {% block main_panel %}{% endblock %}
        </div>

        <!-- フッター -->
        {% block footer %}
        <footer id="footer">
            <div class="footer__wrapper">
                <div class="footer__link-box">
                    <div class="footer__link-list">
                        <a class="footer__link-text" href="{% url 'ogijima:privacypolicy' %}" target="privacypolicy">プライバシーポリシー</a>
                    </div>
                    <div class="footer__sns-link">
                        <a class="footer__sns-link__instagram" href="https://instagram.com/ogijima_project?utm_medium=copy_link" target="instagram">
                            <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/glyph-logo_May2016_white.png"> -->
                            <img src="{% static 'image/sns/glyph-logo_May2016_white.png' %}">
                        </a>
                        <a class="footer__sns-link__twitter" href="https://twitter.com/ogijima_project?s=20" target="twitter">
                            <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/2021 Twitter logo - white.png"> -->
                            <img src="{% static 'image/sns/2021 Twitter logo - white.png' %}">
                        </a>
                        <a class="footer__sns-link__facebook" href="https://www.facebook.com/aikien.ogijimaproject/" target="facebook">
                            <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/f_logo_RGB-White_100.png"> -->
                            <img src="{% static 'image/sns/f_logo_RGB-White_100.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer__logo">
                    <a href="{% url 'ogijima:top' %}">
                        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_HP_yoko_white.svg"> -->
                        <img src="{% static 'image/logo/logo_HP_yoko_white.svg' %}">
                    </a>
                    <!-- 団体名がついたらここも変えないと -->
                    <p class="footer__copyright">&copy; <span id="copyright_year"></span> あいきえん All rights reserved.</p>
                </div>
            </div>
        </footer>
        {% endblock %}

        <!-- 全体JS -->
        <!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/jquery.min.js"></script> -->
        <!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/sweetalert.min.js"></script> -->
        <!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/base.js"></script> -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <!-- 各ページJS -->
        {% block extra_js %}{% endblock %}

    </body>
</html>
