{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/blog_detail.css"> -->
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">島レポート</h1>
<img  class="sumbnail" src="{{ blog.sumbnail }}" style="width: 100%;">
<h1 class="blog_title">{{ blog.title }}</h1>
<h3 class="date">{{ blog.date | date:"Y年m月d日" }}</h3>
<div class="main_sentence">{{ blog.content | safe}}</div>
<div class="link_wrapper">
    {% if prev_id != -1 %}
        <a href="{% url 'ogijima:blog_detail' prev_id %}">前の記事へ</a>
    {% else %}
        <p></p>
    {% endif %}
    {% if next_id != -1 %}
        <a href="{% url 'ogijima:blog_detail' next_id %}">次の記事へ</a>
    {% else %}
        <p></p>
    {% endif %}
</div>
<div class="move_allarticles">
    <a href="{% url 'ogijima:reports' %}">一覧を見る</a>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}