{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/information_detail.css"> -->
<link rel="stylesheet" href="{% static 'css/information_detail.css' %}">
<style>
    #mark{
        top:{{ cat.coordinate_pc_top }}%;
        left:{{ cat.coordinate_pc_left }}%;
    }
    /* @media screen and (max-width:1020px) {
        #mark{
            top:{{ cat.coordinate_mobile_top }}%;
            left:{{ cat.coordinate_mobile_left }}%;
        }
    } */
</style>
{% endblock %}

{% block main_panel %}
<div class="top">
    <div class="top__imagebox">
        <img id="top__image" class="top__image" src="">
        <div id="image-list" class="image-list"></div>
    </div>
    <div class="top__textbox">
        <h3>{{ cat.name }}</h3>
        <p class="top__introduction">{{ cat.introduction | safe }}</p>
        <!-- <p><a href="#locationinfo">位置情報</a>はこちら</p> -->
    </div>
</div>
{% if cat.document %}
<div class="document">
    {{ cat.document | safe }}
</div>
{% endif %}
<h4 id="locationinfo" class="locationinfo__title">位置情報</h4>
<div class="locationinfo">
    <div class="map__frame mousedragscrollable">
        <div id="map" class="map">
            <div class="map__wrapper">
                <!-- <img id="map__image" class="map__image" src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/map/map_4.svg"> -->
                <img id="map__image" class="map__image" src="{% static 'image/map/map_4.svg' %}">
                <p class="place place-port">男木港</p>
                <p class="place place-school">男木島小・中学校</p>
                <p class="place place-aikien">あいきえん</p>
                <div id="mark" class="mark mark-cat">
                    <i class="fas fa-paw"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/map.js"></script> -->
<!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/information_detail.js"></script> -->
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/information_detail.js' %}"></script>
<script>
    var imageList="{{ cat.image }}";
    imageList = imageList.split(',');
    document.getElementById("top__image").src = imageList[0];
    for(let i = 0; i < imageList.length; i++){
        let smallImage = document.createElement('img');
        smallImage.src = imageList[i];
        smallImage.id = "image-" + i;
        document.getElementById('image-list').appendChild(smallImage);
        document.getElementById('image-' + i).addEventListener('click', () => {
            document.getElementById("top__image").src = imageList[i];     

        })
    }
</script>
{% endblock %}