{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/contact_completed.css"> -->
<link rel="stylesheet" href="{% static 'css/contact_completed.css' %}">
{% endblock %}

{% block main_panel %}
<h1>お問い合わせありがとうございました</h1>
<p class="contact_completed_text-1">
  自動送信にて「{{ email }}」宛に、「aikien.info@gmail.com」というアドレスから、お問い合わせ内容の確認のメールを送信させていただきました。
  近日中にご連絡させていただきますので、しばしお待ちください。
</p>
<p class="contact_completed_text-2">
  もし確認メールが届いていない場合、迷惑メールボックスに入っている可能性があるため、ご確認ください。
  また、それでもない場合はメールアドレスに間違い等がある可能性がありますので、お手数ですが再度お問い合わせいただきますようよろしくお願いします。
</p>
<a href="{% url 'ogijima:top' %}" class="button">
  トップへ戻る
</a>
{% endblock %}





{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}