{% extends 'base.html' %}
{% load static %}

{% block extra_style %}

<!-- ここに各ページだけで効かせたいCSSを記述 -->
{% endblock %}
{% block main_panel %}

　<h3>お問い合わせありがとうございました</h3>

  <h5>自動送信にて「（相手のメールアドレス）」宛に、「ogijima.pj@gmail.com」というアドレ
    スから、お問い合わせ内容の確認のメールを送信させていただきました。近日中にご連絡
    させていただきますので、しばしお待ちください。</h5>
<!-- ここに各ページの本体を記述 -->
<!-- ヘッダー・フッターは自動で入っている -->
  <h5>もし確認メールが届いていない場合、迷惑メールボックスに入っている可能性があるため、
    ご確認ください。また、それでもない場合はメールアドレスに間違い等がある可能性があ
    りますので、お手数ですが再度お問い合わせいただきますようよろしくお願いします。</h5>
</div>
</div>
{% endblock %}





{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}