{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/contact.css">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">お問い合わせ</h1>
<form action="" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <div class="privacypolicy-check__wrapper">
        <p><a href="{% url 'ogijima:privacypolicy' %}" target="privacypolicy">プライバシーポリシー</a>に同意する</p>
        <input id="privacypolicy-check" type="checkbox"><label for="privacypolicy-check"></label>
    </div>
    <button id="submit-button" type="submit" disabled="true">送信</button>
    <div id="button-cover">送信</div>
</form>
{% endblock %}

{% block extra_js %}
<script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/contact.js"></script>
{% endblock %}