{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block main_panel %}
<h1>ギャラリー</h1>
<div class="photo__wrapper">
    {% for photo in photos %}
    <!-- <div class="photo__frame"> -->
        <img id="photo-{{ photo.id }}" src="media/{{ photo.photo }}">
    <!-- </div> -->
    {% endfor %}
</div>
<div id="photo__popup" class="photo__popup">
    <i class="fas fa-times" id="popup-close-button"></i>
    <img id="popup-image" src="">
</div>
{% endblock %}

{% block extra_js %}
<script>
    var photoUrlList = []
    {% for photo in photos %}
        photoUrlList.push("{{ photo.photo }}")
    {% endfor %}
</script>
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}