{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/information_detail.css' %}">
<style>
    #mark{
        top:{{ hotel.coordinate_pc_top }}%;
        left:{{ hotel.coordinate_pc_left }}%;
    }
    /* @media screen and (max-width:1020px) {
        #mark{
            top:{{ hotel.coordinate_mobile_top }}%;
            left:{{ hotel.coordinate_mobile_left }}%;
        }
    } */
</style>
{% endblock %}

{% block main_panel %}
<div class="top">
    <div class="top__imagebox">
        <img id="top__image" class="top__image" src="">
        <div id="image-list" class="image-list"></div>
    </div>
    <div class="top__textbox">
        <h3>{{ hotel.name }}</h3>
        <p class="top__introduction">{{ hotel.introduction | safe }}</p>
        <h5 class="top__textbox-subtitle">営業時間</h5>
        <div class="businessHour">
            {{ hotel.businessHour | safe }}
        </div>
        <h5 class="top__textbox-subtitle">関連情報</h5>
        {% if hotel.homepage %}
        <p>
            ホームページ：
            <a href="{{ hotel.homepage }}" target="_blank">{{ hotel.homepage }}</a>
        </p>
        {% endif %}
        {% if hotel.telephone %}
        <p>
            電話番号：
            <a href="tel:{{ hotel.telephone }}">{{ hotel.telephone }}</a>
        </p>
        {% endif %}
        <p>
            住所：
            <a href="#locationinfo">{{ hotel.address }}</a>
        </p>
        <div class="sns-list">
            {% if hotel.instagram %}
            <a href="{{ hotel.instagram }}" class="sns-list__instagram" target="instagram"><img src="{% static 'image/sns/glyph-logo_May2016_white.png' %}"></a>
            {% endif %}
            {% if hotel.twitter %}
            <a href="{{ hotel.twitter }}" class="sns-list__twitter" target="twitter"><img src="{% static 'image/sns/2021 Twitter logo - white.png' %}"></a>
            {% endif %}
            {% if hotel.facebook %}
            <a href="{{ hotel.facebook }}" class="sns-list__facebook" target="facebook"><img src="{% static 'image/sns/f_logo_RGB-White_100.png' %}"></a>
            {% endif %}
        </div>
    </div>
</div>
{% if hotel.document %}
<div class="document">
    {{ hotel.document | safe }}
</div>
{% endif %}
<h4 id="locationinfo" class="locationinfo__title">位置情報</h4>
<div class="locationinfo">
    <div class="map__frame mousedragscrollable">
        <div id="map" class="map">
            <div class="map__wrapper">
                <img id="map__image" class="map__image" src="{% static 'image/map/map_4.svg' %}">
                <p class="place place-port">男木港</p>
                <p class="place place-school">男木島小・中学校</p>
                <p class="place place-aikien">あいきえん</p>
                <div id="mark" class="mark mark-hotel">
                    <i class="fas fa-home"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="map__text">
        <p>{{ hotel.address }}</p>
        <p><a href="{{ hotel.apple_maplink }}" class="map-link-apple" target="map">地図アプリで開く</a></p>
        <p><a href="{{ hotel.google_maplink }}" class="map-link-google" target="map">GoogleMapで開く</a></p>
        <p><a href="{{ hotel.google_maplink }}" class="map-link-pc" target="map">地図を開く</a></p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/information_detail.js' %}"></script>
<script>
    var imageList="{{ hotel.image }}";
    imageList = imageList.split(',');
    document.getElementById("top__image").src = imageList[0];
    for(let i = 0; i < imageList.length; i++){
        let smallImage = document.createElement('img');
        smallImage.src = imageList[i];
        smallImage.id = "image-" + i;
        document.getElementById('image-list').appendChild(smallImage);
        document.getElementById('image-' + i).addEventListener('click', () => {
            document.getElementById("top__image").src = imageList[i];     

        })
    }
</script>
{% endblock %}