{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
    <!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/information.css"> -->
    <link rel="stylesheet" href="{% static 'css/information.css' %}">
    <style>
        {% for art in arts %}
        #mark_1_{{ art.id }}{top:{{ art.coordinate_pc_top }}%;left:{{ art.coordinate_pc_left }}%;}
        {% endfor %}
        {% for restaurant in restaurants %}
        #mark_2_{{ restaurant.id }}{top:{{ restaurant.coordinate_pc_top }}%;left:{{ restaurant.coordinate_pc_left }}%;}
        {% endfor %}
        {% for hotel in hotels %}
        #mark_3_{{ hotel.id }}{top:{{ hotel.coordinate_pc_top }}%;left:{{ hotel.coordinate_pc_left }}%;}
        {% endfor %}
        {% for cat in cats %}
        #mark_4_{{ cat.id }}{top:{{ cat.coordinate_pc_top }}%;left:{{ cat.coordinate_pc_left }}%;}
        {% endfor %}
        #mark_0_0{
            top: 61%;
            left: 45%;
        }

        /* @media screen and (max-width:1020px) {
            {% for art in arts %}
            #mark_1_{{ art.id }}{top:{{ art.coordinate_mobile_top }}%;left:{{ art.coordinate_mobile_left }}%;}
            {% endfor %}
            {% for restaurant in restaurants %}
            #mark_2_{{ restaurant.id }}{top:{{ restaurant.coordinate_mobile_top }}%;left:{{ restaurant.coordinate_mobile_left }}%;}
            {% endfor %}
            {% for hotel in hotels %}
            #mark_3_{{ hotel.id }}{top:{{ hotel.coordinate_mobile_top }}%;left:{{ hotel.coordinate_mobile_left }}%;}
            {% endfor %}
            {% for cat in cats %}
            #mark_4_{{ cat.id }}{top:{{ cat.coordinate_mobile_top }}%;left:{{ cat.coordinate_mobile_left }}%;}
            {% endfor %}
        } */
    </style>
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">島内案内マップ</h1>
<p class="map-annotation">地図上のアイコン<span id="mobile-text">にカーソルを合わせると</span>、情報が表示されます</p>
<div class="main">
    <div class="map__frame mousedragscrollable">
        <div id="map" class="map">
            <div class="map__wrapper">
                <!-- <img id="map__image" class="map__image" src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/map/map_4.svg"> -->
                <img id="map__image" class="map__image" src="{% static 'image/map/map_4.svg' %}">
                <p class="place place-port">男木港</p>
                <!-- <!-- <p class="place place-aikien">あいきえん</p> --> -->

                {% for art in arts %}
                <!-- <div id="mark_1_{{ art.id }}" class="mark mark-art mark_1"
                    onmouseenter="popupActivate(document.getElementById('popup_1_{{ art.id }}'))"
                    onmouseleave="popupDeactivate(document.getElementById('popup_1_{{ art.id }}'))"
                > -->
                <div id="mark_1_{{ art.id }}" class="mark mark-art mark_1"
                    onmouseenter="popupActivate('_1_{{ art.id }}')"
                    onmouseleave="popupDeactivate('_1_{{ art.id }}')"
                >
                    <i class="fas fa-palette"></i>
                </div>
                {% endfor %}
                {% for restaurant in restaurants %}
                <!-- <div id="mark_2_{{ restaurant.id }}" class="mark mark-restaurant mark_2"
                    onmouseenter="popupActivate(document.getElementById('popup_2_{{ restaurant.id }}'))"
                    onmouseleave="popupDeactivate(document.getElementById('popup_2_{{ restaurant.id }}'))"
                > -->
                <div id="mark_2_{{ restaurant.id }}" class="mark mark-restaurant mark_2"
                    onmouseenter="popupActivate('_2_{{ restaurant.id }}')"
                    onmouseleave="popupDeactivate('_2_{{ restaurant.id }}')"
                >
                    <i class="fas fa-utensils"></i>
                </div>
                {% endfor %}
                {% for hotel in hotels %}
                <!-- <div id="mark_3_{{ hotel.id }}" class="mark mark-hotel mark_3"
                    onmouseenter="popupActivate(document.getElementById('popup_3_{{ hotel.id }}'))"
                    onmouseleave="popupDeactivate(document.getElementById('popup_3_{{ hotel.id }}'))"
                > -->
                <div id="mark_3_{{ hotel.id }}" class="mark mark-hotel mark_3"
                    onmouseenter="popupActivate('_3_{{ hotel.id }}')"
                    onmouseleave="popupDeactivate('_3_{{ hotel.id }}')"
                >
                    <i class="fas fa-home"></i>
                </div>
                {% endfor %}
                {% for cat in cats %}
                <!-- <div id="mark_4_{{ cat.id }}" class="mark mark-cat mark_4"
                    onmouseenter="popupActivate(document.getElementById('popup_4_{{ cat.id }}'))"
                    onmouseleave="popupDeactivate(document.getElementById('popup_4_{{ cat.id }}'))"
                > -->
                <div id="mark_4_{{ cat.id }}" class="mark mark-cat mark_4"
                    onmouseenter="popupActivate('_4_{{ cat.id }}')"
                    onmouseleave="popupDeactivate('_4_{{ cat.id }}')"
                >
                    <i class="fas fa-paw"></i>
                </div>
                {% endfor %}
                <div id="mark_0_0" class="mark mark_0" onmouseenter="popupActivate('_0_0')" onmouseleave="popupDeactivate('_0_0')">
                </div>

            </div>
        </div>
    </div>
</div>

<div id="popup">
    {% for art in arts %}
    <div class="upblock popup_1" id="popup_1_{{ art.id }}">
        <div class="popup__title">
            <p class="popup__icon popup__icon-1">アート</p>
            <p class="popup__name">{{ art.name }}</p>
        </div>
        <p class="popup__text">クリックしてもっと見る</p>
        <p id="popup_modal_1_{{ art.id }}" class="popup__link">タップしてもっと見る</a>
    </div>
    {% endfor %}
    {% for restaurant in restaurants %}
    <div class="upblock popup_2" id="popup_2_{{ restaurant.id }}">
        <div class="popup__title">
            <p class="popup__icon popup__icon-2">飲食店</p>
            <p class="popup__name">{{ restaurant.name }}</p>
        </div>
        <p class="popup__text">クリックしてもっと見る</p>
        <p id="popup_modal_2_{{ restaurant.id }}" class="popup__link">タップしてもっと見る</a>
    </div>
    {% endfor %}
    {% for hotel in hotels %}
    <div class="upblock popup_3" id="popup_3_{{ hotel.id }}">
    <div class="popup__title">
            <p class="popup__icon popup__icon-3">宿泊施設</p>
            <p class="popup__name">{{ hotel.name }}</p>
        </div>
        <p class="popup__text">クリックしてもっと見る</p>
        <p id="popup_modal_3_{{ hotel.id }}" class="popup__link">タップしてもっと見る</a>
    </div>
    {% endfor %}
    {% for cat in cats %}
    <div class="upblock popup_4" id="popup_4_{{ cat.id }}">
        <div class="popup__title">
            <p class="popup__icon popup__icon-4">猫</p>
            <p class="popup__name">{{ cat.name }}</p>
        </div>
        <p class="popup__text">クリックしてもっと見る</p>
        <p id="popup_modal_4_{{ cat.id }}" class="popup__link">タップしてもっと見る</a>
    </div>
    {% endfor %}
    <div class="upblock popup_0" id="popup_0_0">
        <div class="popup__title">
            <p class="popup__name">男木島小・中学校</p>
        </div>
    </div>
</div>

<div id="detail-modal" class="detail-modal">
    <div class="detail-modal-window">
        <img id="detail-modal-img" src="">
        <div class="detail-modal__textbox">
            <h4 id="detail-modal-name"></h4>
            <p id="detail-modal-intro"></p>
            <a id="detail-modal-link" href="">詳細はこちら</a>
        </div>
    </div>
    <i class="fas fa-times" onclick="modalDeactivate()"></i>
</div>

<div id="information-list" class="information-list">
    <a class="information-list-button" href="{% url 'ogijima:arts' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_art_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_art_2.svg' %}">
        <span>アート紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:restaurants' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_restaurant_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_restaurant_2.svg' %}">
        <span>飲食店紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:hotels' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_hotel_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_hotel_2.svg' %}">
        <span>宿泊施設紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:cats' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_cat_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_cat_2.svg' %}">
        <span>島猫紹介</span>
    </a>
</div>
    
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            {% comment %}
            {% for art in arts %}
                document.getElementById('mark_' + 1 + "_{{ art.id }}").addEventListener('click', () => {
                    document.getElementById('detail-modal-img').src = "{{ art.sumbnail }}";
                    document.getElementById('detail-modal-name').innerText = "{{ art.name }}";
                    document.getElementById('detail-modal-intro').innerText = "{{ art.introduction }}";
                    document.getElementById('detail-modal-link').href = "{% url 'ogijima:art_detail' art.id  %}";
                    document.getElementById('detail-modal').style.display = 'block';
                })  
            {% endfor %}
            {% for restaurant in restaurants %}
                document.getElementById('mark_' + 2 + "_{{ restaurant.id }}").addEventListener('click', () => {
                    document.getElementById('detail-modal-img').src = "{{ restaurant.sumbnail }}";
                    document.getElementById('detail-modal-name').innerText = "{{ restaurant.name }}";
                    document.getElementById('detail-modal-intro').innerText = "{{ restaurant.introduction }}";
                    document.getElementById('detail-modal-link').href = "{% url 'ogijima:restaurant_detail' restaurant.id  %}";
                    document.getElementById('detail-modal').style.display = 'block';
                })            
            {% endfor %}
            {% for hotel in hotels %}
                document.getElementById('mark_' + 3 + "_{{ hotel.id }}").addEventListener('click', () => {
                    document.getElementById('detail-modal-img').src = "{{ hotel.sumbnail }}";
                    document.getElementById('detail-modal-name').innerText = "{{ hotel.name }}";
                    document.getElementById('detail-modal-intro').innerText = "{{ hotel.introduction }}";
                    document.getElementById('detail-modal-link').href = "{% url 'ogijima:hotel_detail' hotel.id  %}";
                    document.getElementById('detail-modal').style.display = 'block';
                })  
            {% endfor %}
            {% for cat in cats %}
                document.getElementById('mark_' + 4 + "_{{ cat.id }}").addEventListener('click', () => {
                    document.getElementById('detail-modal-img').src = "{{ cat.sumbnail }}";
                    document.getElementById('detail-modal-name').innerText = "{{ cat.name }}";
                    document.getElementById('detail-modal-intro').innerText = "{{ cat.introduction }}";
                    document.getElementById('detail-modal-link').href = "{% url 'ogijima:cat_detail' cat.id  %}";
                    document.getElementById('detail-modal').style.display = 'block';
                })  
            {% endfor %}
            {% endcomment %}

            if(userAgent == "pc"){
                {% for art in arts %}
                    document.getElementById('mark_' + 1 + "_{{ art.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ art.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ art.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ art.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:art_detail' art.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
                {% for restaurant in restaurants %}
                    document.getElementById('mark_' + 2 + "_{{ restaurant.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ restaurant.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ restaurant.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ restaurant.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:restaurant_detail' restaurant.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })            
                {% endfor %}
                {% for hotel in hotels %}
                    document.getElementById('mark_' + 3 + "_{{ hotel.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ hotel.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ hotel.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ hotel.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:hotel_detail' hotel.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
                {% for cat in cats %}
                    document.getElementById('mark_' + 4 + "_{{ cat.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ cat.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ cat.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ cat.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:cat_detail' cat.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
            }
            else{
                {% for art in arts %}
                    document.getElementById('popup_modal_' + 1 + "_{{ art.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ art.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ art.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ art.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:art_detail' art.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
                {% for restaurant in restaurants %}
                    document.getElementById('popup_modal_' + 2 + "_{{ restaurant.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ restaurant.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ restaurant.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ restaurant.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:restaurant_detail' restaurant.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })            
                {% endfor %}
                {% for hotel in hotels %}
                    document.getElementById('popup_modal_' + 3 + "_{{ hotel.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ hotel.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ hotel.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ hotel.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:hotel_detail' hotel.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
                {% for cat in cats %}
                    document.getElementById('popup_modal_' + 4 + "_{{ cat.id }}").addEventListener('click', () => {
                        document.getElementById('detail-modal-img').src = "{{ cat.sumbnail }}";
                        document.getElementById('detail-modal-name').innerText = "{{ cat.name }}";
                        document.getElementById('detail-modal-intro').innerText = "{{ cat.introduction }}";
                        document.getElementById('detail-modal-link').href = "{% url 'ogijima:cat_detail' cat.id  %}";
                        document.getElementById('detail-modal').style.display = 'block';
                    })  
                {% endfor %}
            }

            document.querySelector('#popup_1_7 .popup__title').style.display = "none";
            let aikienPopup = document.createElement('img');
            aikienPopup.src = "https://aikien.s3.ap-northeast-3.amazonaws.com/image/logo/logo_HP_yoko_brown.svg";
            aikienPopup.classList.add('aikienPopup');
            document.getElementById('popup_1_7').insertAdjacentElement('afterbegin',aikienPopup);
        })
    </script>
    <!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/information.js"></script> -->
    <script src="{% static 'js/information.js' %}"></script>
{% endblock %}