{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/works_list.css"> -->
<link rel="stylesheet" href="{% static 'css/works_list.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">イベント情報</h1>

<div id="works-list" class="works-list">
    <a href="{% url 'ogijima:works' %}" class="works-list-button"><span>現在開催中</span></a>
    <a class="works-list-button works-list-button-active"><span>開催予定</span></a>
    <a href="{% url 'ogijima:held_works' %}" class="works-list-button"><span>開催記録</span></a>
</div>

<h2 class="pagetitle">開催予定</h2>

{% for work in pages %}
<a class="work__wrapper" href="{% url 'ogijima:work_detail' work.id %}">
    <img class="sumbnail" src="{{ work.sumbnail }}">
    <div class="work__text">
        <h4>{{ work.title }}</h4>
        <p>開催期間 ： {{ work.work_start_date | date:"Y年m月d日" }} ～ {{ work.work_end_date | date:"Y年m月d日" }}</p>
        <!-- <p class="work__content">{{ work.content | safe }}</p> -->
        <p class="work__link-button">もっと見る ＞</p>
    </div>
</a>
<hr class="separator">
{% endfor %}

{% if pages.has_other_pages %}
<nav class="pagination__nav">
    <ul class="pagination">
        {% if pages.has_previous %}
        <li>
            <a class="page-link text-primary d-inline-block" href="?page={{ pages.previous_page_number }}">
                前<span class="pagination__mobile-delete">のページ</span>へ
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <p class="pagination__disabled-prev">
                前<span class="pagination__mobile-delete">のページ</span>へ
            </p>
        </li>
        {% endif %}

        {% if pages.has_previous %}
        {% if pages.previous_page_number != 1 %}
        <li>
            <a href="?page=1">1</a>
        </li>
        <li>…</li>
        {% endif %}
        <li>
            <a href="?page={{ pages.previous_page_number }}">
                {{ pages.previous_page_number }}
            </a>
        </li>
        {% endif %}
        <li class="disabled">
            <p class="pagination__disabled">{{ pages.number }}</p>
        </li>
        {% if pages.has_next %}
        <li>
            <a href="?page={{ pages.next_page_number }}">
                {{ pages.next_page_number }}
            </a>
        </li>
        {% if pages.next_page_number != pages.paginator.num_pages %}
        <li>…</li>
        <li>
            <a href="?page={{ pages.paginator.num_pages }}">
                {{ pages.paginator.num_pages }}
            </a>
        </li>
        {% endif %}
        {% endif %}
        {% if pages.has_next %}
        <li>
            <a href="?page={{ pages.next_page_number }}">
                次<span class="pagination__mobile-delete">のページ</span>へ
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <p class="pagination__disabled-next">次<span class="pagination__mobile-delete">のページ</span>へ</p>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var separatorList = document.querySelectorAll('.separator');
        separatorList[separatorList.length - 1].style.display = "none";
    })
</script>
{% endblock %}