{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/profile.css"> -->
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">メンバー紹介</h1>
<div class="image__wrapper">
    {% for profile in profile %}
    <img id="image-{{ profile.id }}" src="{{ profile.image }}">
    {% endfor %}
</div>
<div id="popup" class="popup">
    <i class="fas fa-times" id="popup-close-button"></i>
    <img id="popup-image" src="">
    <div class="popup__text-wrapper">
        <h1 id="popup-name"></h1>
        <h4 id="popup-roll"></h4>
        <p id="popup-intro"></p>
        <a id="popup-link" href="" target="_brank">インタビュー記事はこちら</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var profileList = []
    {% for profile in profile %}
        profileList.push(["{{ profile.id }}","{{ profile.image }}","{{ profile.name }}","{{ profile.roll }}","{{ profile.introduction }}","{{ profile.link }}"])
    {% endfor %}
</script>
<!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/profile.js"></script> -->
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}