{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/reports.css">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">活動報告</h1>
<div id="reports-list" class="reports-list">
    <div class="reports-list-button" id="button-blog" onclick="sectionChange(1)"><span>島暮らしの<br class="sp-br">ヤマグッティ</span></div>
    <div class="reports-list-button" id="button-crowdfunding" onclick="sectionChange(2)"><span>クラウド<br class="sp-br">ファンディング</span></div>
    <!-- {% comment %}<div class="reports-list-button" id="button-donation" onclick="sectionChange(3)"><span>寄付サイト</span></div>{% endcomment %} -->
    <div class="reports-list-button" id="button-shop" onclick="sectionChange(4)"><span>オンラインショップ</span></div>
</div>

<div class="section" id="section-blog">
    <h3>島暮らしのヤマグッティ</h3>
    {% for blog in pages %}
        <a class="blog__wrapper" href="{% url 'ogijima:blog_detail' blog.id %}">
            <img class="blog-sumbnail" src="{{ blog.sumbnail }}">
            <div class="blog__text">
                <h4>{{ blog.title }}</h4>
                <p>{{ blog.date | date:"Y年m月d日" }}</p>
                <p class="blog__content">{{ blog.content | safe}}</p>
                <p class="blog__link-button">もっと見る ＞</p>
            </div>
        </a>
        <hr class="separator">
        {% endfor %}

    <!-- ここからページネーション -->
    {% if pages.has_other_pages %}
    <nav class="pagination__nav">
        <ul class="pagination">
            {% if pages.has_previous %}
            <li>
                <a class="page-link text-primary d-inline-block" href="?page={{ pages.previous_page_number }}">
                    前<span class="pagination__mobile-delete">のページ</span>へ
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <p class="pagination__disabled-prev">
                    前<span class="pagination__mobile-delete">のページ</span>へ
                </p>
            </li>
            {% endif %}

            {% if pages.has_previous %}
            {% if pages.previous_page_number != 1 %}
            <li>
                <a href="?page=1">1</a>
            </li>
            <li>…</li>
            {% endif %}
            <li>
                <a href="?page={{ pages.previous_page_number }}">
                    {{ pages.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="disabled">
                <p class="pagination__disabled">{{ pages.number }}</p>
            </li>
            {% if pages.has_next %}
            <li>
                <a href="?page={{ pages.next_page_number }}">
                    {{ pages.next_page_number }}
                </a>
            </li>
            {% if pages.next_page_number != pages.paginator.num_pages %}
            <li>…</li>
            <li>
                <a href="?page={{ pages.paginator.num_pages }}">
                    {{ pages.paginator.num_pages }}
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% if pages.has_next %}
            <li>
                <a href="?page={{ pages.next_page_number }}">
                    次<span class="pagination__mobile-delete">のページ</span>へ
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <p class="pagination__disabled-next">次<span class="pagination__mobile-delete">のページ</span>へ</p>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!-- ここまでページネーション -->

</div>

<div class="section" id="section-crowdfunding">
    <h3>クラウドファンディング</h3>
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLXgL1LCGRCC1LDbFx68c-8ieS2qe5ujKtjXtANqv75MDePLUvEucWxht6AuPXuW0jDfU01yJhaOIIA998QNrduuSsCOQuaA6HN9grcD2VjWrAbv84NukWGFLMvGcELxY6f_zn1zBk4Oq08_YEUHy2w=w1024-h682-no?authuser=5" class="sumbnail">
    <p>Campfireにてクラウドファンディングを実施しておりました。現在は期間外で受け付けていないのですが、ぜひサイトをご覧ください。</p>
    <!-- <p>現在準備中です。しばらくお待ちください。</p> -->
    <a href="https://camp-fire.jp/projects/view/503076" class="section__button" target="_blank">クラウドファンディングへ</a>
</div>

<!-- {% comment %}
<div class="section" id="section-donation">
    <h3>寄付サイト</h3>
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLU6VhiiV7eexDz0aXEkpKdOrPa4AZGoZfc_u0LCqDnLV8ypzIKh_b8jlquPO9Cd_bhoCgCV_nD5pd0l_GI-X6Uz0YomMx1IfyJemWrzi06Nv-FgfmgcKSn5mJkhnkJnaXzDyTlyGWo8LJeZCdMUUXA=w1119-h839-no?authuser=3" class="sumbnail">
    <p>現在準備中です。しばらくお待ちください。</p>
    <a href="" class="section__button button__deactivate" target="_blank">寄付サイトへ</a>
</div>
{% endcomment %} -->

<div class="section" id="section-shop">
    <h3>オンラインショップ</h3>
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLUdtspUuzHthoJg-L_QAibFpYDQvBsq3xKa1Tp4kWyGdMI0ZWRFnFI-q92GColVANi_bTKbaIdqXUxeMayZQsSBzP85xNa_9Sbjk3OY4N4lZiZmkMftQzVuycYciUvwoDPnolXJzF-dbz4UduMuQdc=w954-h519-no?authuser=5" class="sumbnail">
    <p>現在準備中です。2022年春にオープンを予定しておりますしばらくお待ちください。</p>
    <a href="" class="section__button button__deactivate" target="_blank">ショップへ</a>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/reports.js"></script>
{% endblock %}