{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/information_detail.css"> -->
<link rel="stylesheet" href="{% static 'css/information_detail.css' %}">
<style>
    #mark{
        top:{{ restaurant_and_hotel.coordinate_pc_top }}%;
        left:{{ restaurant_and_hotel.coordinate_pc_left }}%;
    }
    /* @media screen and (max-width:1020px) {
        #mark{
            top:{{ restaurant_and_hotel.coordinate_mobile_top }}%;
            left:{{ restaurant_and_hotel.coordinate_mobile_left }}%;
        }
    } */
</style>
{% endblock %}

{% block main_panel %}
<div class="top">
    <div class="top__imagebox">
        <img id="top__image" class="top__image" src="">
        <div id="image-list" class="image-list"></div>
    </div>
    <div class="top__textbox">
        <h3>{{ restaurant_and_hotel.name }}</h3>
        <p class="top__introduction">{{ restaurant_and_hotel.introduction | safe }}</p>
        <h5 class="top__textbox-subtitle">営業時間</h5>
        <div class="businessHour">
            {{ restaurant_and_hotel.businessHour | safe }}
        </div>
        <h5 class="top__textbox-subtitle">関連情報</h5>
        {% if restaurant_and_hotel.homepage %}
        <p>
            ホームページ：
            <a href="{{ restaurant_and_hotel.homepage }}" target="_blank">{{ restaurant_and_hotel.homepage }}</a>
        </p>
        {% endif %}
        {% if restaurant_and_hotel.telephone %}
        <p>
            電話番号：
            <a href="tel:{{ restaurant_and_hotel.telephone }}">{{ restaurant_and_hotel.telephone }}</a>
        </p>
        {% endif %}
        <p>
            住所：
            <a href="#locationinfo">{{ restaurant_and_hotel.address }}</a>
        </p>
        <div class="sns-list">
            {% if restaurant_and_hotel.instagram %}
            <a href="{{ restaurant_and_hotel.instagram }}" class="sns-list__instagram" target="instagram">
                <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/glyph-logo_May2016_white.png"> -->
                <img src="{% static 'image/sns/glyph-logo_May2016_white.png' %}">
            </a>
            {% endif %}
            {% if restaurant_and_hotel.twitter %}
            <a href="{{ restaurant_and_hotel.twitter }}" class="sns-list__twitter" target="twitter">
                <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/2021 Twitter logo - white.png"> -->
                <img src="{% static 'image/sns/2021 Twitter logo - white.png' %}">
            </a>
            {% endif %}
            {% if restaurant_and_hotel.facebook %}
            <a href="{{ restaurant_and_hotel.facebook }}" class="sns-list__facebook" target="facebook">
                <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/sns/f_logo_RGB-White_100.png"> -->
                <img src="{% static 'image/sns/f_logo_RGB-White_100.png' %}">
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% if restaurant_and_hotel.document %}
<div class="document">
    {{ restaurant_and_hotel.document | safe }}
</div>
{% endif %}
<h4 id="locationinfo" class="locationinfo__title">位置情報</h4>
<div class="locationinfo">
    <div class="map__frame mousedragscrollable">
        <div id="map" class="map">
            <div class="map__wrapper">
                <!-- <img id="map__image" class="map__image" src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/map/map_4.svg"> -->
                <img id="map__image" class="map__image" src="{% static 'image/map/map_4.svg' %}">
                <p class="place place-port">男木港</p>
                <p class="place place-school">男木島小・中学校</p>
                <!-- <p class="place place-aikien">あいきえん</p> -->
                <div id="mark" class="mark mark-restaurant_and_hotel">
                    <i class="fas fa-utensils"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="map__text">
        <p>{{ restaurant_and_hotel.address }}</p>
        <p><a href="{{ restaurant_and_hotel.apple_maplink }}" class="map-link-apple" target="map">地図アプリで開く</a></p>
        <p><a href="{{ restaurant_and_hotel.google_maplink }}" class="map-link-google" target="map">GoogleMapで開く</a></p>
        <p><a href="{{ restaurant_and_hotel.google_maplink }}" class="map-link-pc" target="map">地図を開く</a></p>
    </div>
</div>
<div id="information-list" class="information-list">
    <a class="information-list-button" href="{% url 'ogijima:arts' %}">
        <img src="{% static 'image/icon/ogi_hp_icon_art_2.svg' %}">
        <span>アート紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:restaurants' %}">
        <img src="{% static 'image/icon/ogi_hp_icon_restaurant_2.svg' %}">
        <span>飲食店紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:hotels' %}">
        <img src="{% static 'image/icon/ogi_hp_icon_hotel_2.svg' %}">
        <span>宿泊施設紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:cats' %}">
        <img src="{% static 'image/icon/ogi_hp_icon_cat_2.svg' %}">
        <span>島猫紹介</span>
    </a>
</div>
{% endblock %}

{% block extra_js %}
<!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/map.js"></script> -->
<!-- <script src="https://aikien.s3.ap-northeast-3.amazonaws.com/js/information_detail.js"></script> -->
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/information_detail.js' %}"></script>
<script>
    var imageList="{{ restaurant_and_hotel.image }}";
    imageList = imageList.split(',');
    document.getElementById("top__image").src = imageList[0];
    for(let i = 0; i < imageList.length; i++){
        let smallImage = document.createElement('img');
        smallImage.src = imageList[i];
        smallImage.id = "image-" + i;
        document.getElementById('image-list').appendChild(smallImage);
        document.getElementById('image-' + i).addEventListener('click', () => {
            document.getElementById("top__image").src = imageList[i];     

        })
    }
</script>
{% endblock %}