{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/information_list.css"> -->
<link rel="stylesheet" href="{% static 'css/information_list.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">飲食店</h1>
<div class="list__wrapper">
    {% for restaurant in restaurant %}
    <a href="{% url 'ogijima:restaurant_detail' restaurant.id %}">
        <img src="{{ restaurant.thumbnail }}">
        <h5>{{ restaurant.name }}</h5>
    </a>
    {% endfor %}
    {% for restaurant_and_hotel in restaurant_and_hotel %}
    <a href="{% url 'ogijima:restaurant_and_hotel_detail' restaurant_and_hotel.id %}">
        <img src="{{ restaurant_and_hotel.thumbnail }}">
        <h5>{{ restaurant_and_hotel.name }}</h5>
    </a>
    {% endfor %}
</div>

<div id="information-list" class="information-list">
    <a class="information-list-button" href="{% url 'ogijima:arts' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_art_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_art_2.svg' %}">
        <span>アート紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:restaurants' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_restaurant_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_restaurant_2.svg' %}">
        <span>飲食店紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:hotels' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_hotel_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_hotel_2.svg' %}">
        <span>宿泊施設紹介</span>
    </a>
    <a class="information-list-button" href="{% url 'ogijima:cats' %}">
        <!-- <img src="https://aikien.s3.ap-northeast-3.amazonaws.com/image/icon/ogi_hp_icon_cat_2.svg"> -->
        <img src="{% static 'image/icon/ogi_hp_icon_cat_2.svg' %}">
        <span>島猫紹介</span>
    </a>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}