{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/sponsor.css"> -->
<link rel="stylesheet" href="{% static 'css/sponsor.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">協賛</h1>

{% for banner in banners %}
    {% if banner.link %}
        <a href="{{ banner.link }}" class="banner" target="_brank">
            <img src="{{ banner.image }}" title="banner">
            <h3 class="banner__name">{{ banner.name }}</h3>
        </a>
    {% else %}
        <div class="banner">
            <img src="{{ banner.image }}" title="banner">
            <h3 class="banner__name">{{ banner.name }}</h3>
        </div>
    {% endif %}
{% endfor %}

{% for name in names %}
    {% if name.link %}
        <a href="{{ name.link }}" class="name__link" target="_brank"><h3 class="name">{{ name.name }}</h3></a>
    {% else %}
        <h3 class="name">{{ name.name }}</h3>
    {% endif %}
{% endfor %}
 
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.name')[0].style.marginTop = "48px";
    })
</script>
{% endblock %}