{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/sponsor.css' %}">
<!-- ここに各ページだけで効かせたいCSSを記述 -->
{% endblock %}

{% block main_panel %}
<!-- ここに各ページの本体を記述 -->
<!-- ヘッダー・フッターは自動で入っている -->
<h1 class="pagetitle">協賛</h1>
<!-- 表示だけさせておきます -->

 {% for banner in banners %}
    <p class="sponsor__banner">{{ banner.name }}</p>
    <!-- imgのsrc -->
    <img src="{{ banner.image }}"class="sample" title="企業画像">
   
    
 {% endfor %}

 {% for name in names %}
 <p class="sponsor__name">{{ name.name }}</p>

 {% endfor %}
 
{% endblock %}


{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}