{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- ここに各ページだけで効かせたいCSSを記述 -->
{% endblock %}

{% block main_panel %}
<!-- ここに各ページの本体を記述 -->
<!-- ヘッダー・フッターは自動で入っている -->
<h1>top</h1>
<h1>h1 h1 h1 h1 h1 あいうえお</h1>
<h2>h2 h2 h2 h2 h2 あいうえお</h2>
<h3>h3 h3 h3 h3 h3 あいうえお</h3>
<h4>h4 h4 h4 h4 h4 あいうえお</h4>
<h5>h5 h5 h5 h5 h5 あいうえお</h5>
<h6>h6 h6 h6 h6 h6 あいうえお</h6>
<p>p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお p p p p p あいうえお</p>
<a>a a a a a あいうえお</a>
{% endblock %}

{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}