{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/works.css"> -->
<link rel="stylesheet" href="{% static 'css/works.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">イベント情報</h1>

<div id="works-list" class="works-list">
    <a class="works-list-button works-list-button-active"><span>現在開催中</span></a>
    <a href="{% url 'ogijima:planed_works' %}" class="works-list-button"><span>開催予定</span></a>
    <a href="{% url 'ogijima:held_works' %}" class="works-list-button"><span>開催記録</span></a>
</div>

<h2 class="section-title">現在開催中のイベント</h2>
{% for work in now_works %}
    <a class="now-work__box" href="{% url 'ogijima:work_detail' work.id %}">
        <img  class="thumbnail" src="{{ work.thumbnail }}">
        <h4>{{ work.title }}</h4>
        <p class="now-work__date">
            開催期間<span class="mobile-delete"> ： </span><br class="mobile-br">
            <span class="dayofweek-trans">{{ work.work_start_date | date:"Y年m月d日（w）" }}</span> ～ <span class="dayofweek-trans">{{ work.work_end_date | date:"Y年m月d日（w）" }}</span>
        </p>
        <!-- <p class="now-work__content">{{ work.content | safe }}</p> -->
        <p class="now-work__link-button">もっと見る ＞</p>
    </a>
    <hr class="separator separator-1">
{% empty %}
    <p>現在開催中のイベントはありません。</p>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var separatorList1 = document.querySelectorAll('.separator-1');
        separatorList1[separatorList1.length - 1].style.display = "none";
        var separatorList2 = document.querySelectorAll('.separator-2');
        separatorList2[separatorList2.length - 1].style.display = "none";
        var separatorList3 = document.querySelectorAll('.separator-3');
        separatorList3[separatorList3.length - 1].style.display = "none";
    })
</script>
{% endblock %}