{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- ここに各ページだけで効かせたいCSSを記述 -->
{% endblock %}

{% block main_panel %}

<!-- タイトル -->
{{ work.title }}
<br>

<!-- サムネイル -->
<img src="/media/{{ work.sumbnail }}" style="width: 100%;">
<br>

<!-- 開始日時 -->
{{ work.work_start_date }}
<br>
<!-- 終了日時 -->
{{ work.work_end_date }}
<br>
<!-- 日時表記の型を変えたかったらとりあえず井ノ本に聞いてください -->

<!-- 本文 -->
{{ work.content | safe}}

{% endblock %}

{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}