{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link rel="stylesheet" href="https://aikien.s3.ap-northeast-3.amazonaws.com/css/works.css"> -->
<link rel="stylesheet" href="{% static 'css/works.css' %}">
{% endblock %}

{% block main_panel %}
<h1 class="pagetitle">イベント情報</h1>

<div id="works-list" class="works-list">
    <a class="works-list-button works-list-button-active"><span>現在開催中</span></a>
    <a href="{% url 'ogijima:planed_works' %}" class="works-list-button"><span>開催予定</span></a>
    <a href="{% url 'ogijima:held_works' %}" class="works-list-button"><span>開催記録</span></a>
</div>

<div id="now-work" class="section-title" style="margin-top: 0;">
    <h2>現在開催中のイベント</h2>
</div>
{% for work in now_works %}
    <a class="now-work__box" href="{% url 'ogijima:work_detail' work.id %}">
        <img  class="thumbnail" src="{{ work.thumbnail }}">
        <h4>{{ work.title }}</h4>
        <p class="now-work__date">
            開催期間<span class="mobile-delete"> ： </span><br class="mobile-br">
            {{ work.work_start_date | date:"Y年m月d日" }} ～ {{ work.work_end_date | date:"Y年m月d日" }}
        </p>
        <!-- <p class="now-work__content">{{ work.content | safe }}</p> -->
        <p class="now-work__link-button">もっと見る ＞</p>
    </a>
    <hr class="separator separator-1">
{% endfor %}

<!-- {% comment %}
<div id="work-1" class="section-title">
    <h1>これから開催するイベント</h1>
    <a href="{% url 'ogijima:planed_works' %}">これから開催するイベントの一覧を見る</a>
</div>
{% for work in future_works %}
    <a class="work__wrapper" href="{% url 'ogijima:work_detail' work.id %}">
        <img  class="thumbnail" src="{{ work.thumbnail }}">
        <div class="work__text">
            <h4>{{ work.title }}</h4>
            <p>開催期間 ： {{ work.work_start_date | date:"Y年m月d日" }} ～ {{ work.work_end_date | date:"Y年m月d日" }}</p>
            <p class="work__content">{{ work.content | safe }}</p>
            <p class="work__link-button">もっと見る ＞</p>
        </div>
    </a>
    <hr class="separator separator-2">
{% endfor %}

<div id="work-1" class="section-title">
    <h1>これまでに開催したイベント</h1>
    <a href="{% url 'ogijima:held_works' %}">これまでに開催したイベントの一覧を見る</a>
</div>
{% for work in past_works %}
    <a class="work__wrapper" href="{% url 'ogijima:work_detail' work.id %}">
        <img  class="thumbnail" src="{{ work.thumbnail }}">
        <div class="work__text">
            <h4>{{ work.title }}</h4>
            <p>開催期間 ： {{ work.work_start_date | date:"Y年m月d日" }} ～ {{ work.work_end_date | date:"Y年m月d日" }}</p>
            <p class="work__content">{{ work.content | safe }}</p>
            <p class="work__link-button">もっと見る ＞</p>
        </div>
    </a>
    <hr class="separator separator-3">
{% endfor %}

{% endcomment %} -->

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var separatorList1 = document.querySelectorAll('.separator-1');
        separatorList1[separatorList1.length - 1].style.display = "none";
        var separatorList2 = document.querySelectorAll('.separator-2');
        separatorList2[separatorList2.length - 1].style.display = "none";
        var separatorList3 = document.querySelectorAll('.separator-3');
        separatorList3[separatorList3.length - 1].style.display = "none";
    })
</script>
{% endblock %}