{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<!-- ここに各ページだけで効かせたいCSSを記述 -->
{% endblock %}

{% block main_panel %}
<!-- ここに各ページの本体を記述 -->
<!-- ヘッダー・フッターは自動で入っている -->
<h1>works</h1>

{% for work in now_works %}
    {{ work.title }}
    {{ work.work_start_date | date:"Y年m月d日" }}
    {{ work.work_end_date | date:"Y年m月d日" }}
    {{ work.content | safe}}
{% endfor %}

{% for work in future_works %}
    {{ work.title }}
    {{ work.work_start_date | date:"Y年m月d日" }}
    {{ work.work_end_date | date:"Y年m月d日" }}
    {{ work.content | safe}}
    <!-- imgのsrc -->
    {{ work.smbnail }}
{% endfor %}

{% for work in past_works %}
    {{ work.title }}
    {{ work.work_start_date | date:"Y年m月d日" }}
    {{ work.work_end_date | date:"Y年m月d日" }}
    {{ work.content | safe}}
{% endfor %}

{% endblock %}

{% block extra_js %}
<!-- ここに各ページだけで効かせたいJSを記述 -->
{% endblock %}