.main-panel{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: unset;
}
.pagetitle{
    margin-left: 15vw;
}
section{
    margin: 20vh 25vw;
}
.sp-br{
    display: none;
}
h2{
    font-family: 'ロンド B';
    text-align: center;
    margin: 0 auto 24px;
    width: max-content;
}
/* h2:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    height: 6px;
} */
h3{
    margin: 36px 0;
    text-align: center;
}
#mission{
    margin-bottom: 10vh;
}
#belief{
    background-color: rgba(239, 228, 213, 0);
    margin: 10vh 0;
    padding: 15vh 10vw;
    /* min-height: 80vh; */
    transition: .8s;
}
#belief h2{
    margin-bottom: 48px;
}
.belief-bgcolor{
    background-color: rgba(239, 228, 213, 1) !important;
}
.belief-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.belief-content{
    width: 25vw;
}
.belief-content div{
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 0 auto 36px;
}
.belief-content div img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 20vw;
    margin: 0;
    object-fit: cover;
}
.belief-content div h3{
    font-family: 'せのびゴシック';
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 12px);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    padding-bottom: 12px;
    color: #fff;
    text-shadow: 0 0 8px rgba(0,0,0,0.3);
}
#business{
    margin-top: 25vh;
    margin-bottom: 25vh;
}
#source{
    display: flex;
    margin: 20vh 0 0;
    background-color: rgb(106, 90, 92);
}
#source img{
    width: 33vw;
    object-fit: cover;
}
#source > div{
    padding: 10vh 10vw;
}
#source *{
    color: rgb(239, 228, 213);
}
.source-1-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    width: max-content;
    margin: 0 auto;
    gap: 48px;
}
#source h3{
    margin-bottom: 24px;
}
.source-1, .source-2, .source-3{
    text-align: center;
} 
section p:not(.source-3){
    text-indent: 1em;
}
p{
    font-size: 14px;
}

#backgroundimage{
    position: fixed;
    z-index: -3;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
}
#backgroundimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: .8s;
}
#backgroundimagemask{
    position: fixed;
    z-index: -2;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(239, 228, 213, 0.85);
}

@media screen and (max-width:1020px) { 
    h2{
        font-weight: 100;
    }
    h3{
        font-size: 22px;
    }
    .pagetitle{
        margin-left: 5vw;
    }
    section{
        margin: 20vh 5vw;
    }
    .sp-br{
        display: inline;
    }
    #will{
        margin-top: 10vh;
    }
    #belief{
        padding: 15vh 5vw;
    }
    .belief-list{
        flex-flow: column;
    }
    .belief-content{
        width: unset;
    }
    .belief-content div{
        width: 70vw;
        height: 70vw;
        margin-top: 48px;
    }
    .belief-content div img{
        width: 70vw;
        height: 70vw;
    }
    #source{
        flex-flow: column;
    }
    #source > div{
        padding: 10vh 5vw;
    }
    #source img{
        width: 100%;
    }
    /* .source-1-list{
        justify-content: space-between;
    } */
}