section{
    margin: 20vh 10vw;
}
.sp-br{
    display: none;
}
h2{
    font-family: 'ロンド B';
    text-align: center;
    margin: 0 auto 24px;
    width: max-content;
}
h2:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    height: 6px;
}
h3{
    margin: 36px 0;
    text-align: center;
}
#source h3{
    margin-bottom: 24px;
}
.source-1, .source-2, .source-3{
    text-align: center;
} 
section p:not(.source-3){
    text-indent: 1em;
}
#belief h3{
    margin: 56px 0 18px;
}
p{
    font-size: 18px;
}

#backgroundimage{
    position: fixed;
    z-index: -2;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
}
#backgroundimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: .8s;
}
#backgroundimagemask{
    position: fixed;
    z-index: -1;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(239, 228, 213, 0.7);
}
@media screen and (max-width:1020px) { 
    h2{
        font-weight: 100;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
    section{
        margin: 20vh 0;
    }
    .sp-br{
        display: inline;
    }
}