.ogijima-description p{
    text-align: center;
}
#swiper{
    width: 70vw;
    height: 80vh;
    margin: 48px 0;
    overflow: visible;
}
#swiper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev, .swiper-button-next{
    color: rgb(230,95,96);
}
.swiper-pagination-bullet-active{
    background-color: rgb(230,95,96);
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 12px;
    font-weight: bold;
}
#swiper .swiper-pagination{
    bottom: -32px !important;
}
.swiper-button-next{
    top: auto;
    bottom: -24px;
    left: auto;
    right: 25vw;
    transform: translateY(50%);
    height: max-content;
}
.swiper-button-prev{
    top: auto;
    bottom: -24px;
    left: 25vw;
    right: auto;
    transform: translateY(50%);
    height: max-content;
}

.mobile-br{
    display: none;
}
header{
    transition: .3s;
    /* transform: translateY(-100%); */
    position: fixed;
}
section{
    margin: 100px 0;
}
.section-title{
    font-family: 'ロンド B';
    margin-bottom: 24px;
}

#top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    margin: 0;
    display: -webkit-flex;
    display: flex;
}
.top-pc{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.top__bg{
    width: 75%;
    height: 100vh;
    object-fit: cover;
}
.top-title{
    width: 25%;
    height: 100vh;
    background-color: rgb(90, 77, 79);;
}
.top-title h1{
    height: max-content;
    width: max-content;
    display: block;
    margin: auto;
    margin-top: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'ロンド B';
    color: rgb(239, 228, 213);
    font-size: 20px;
    line-height: 1.2;
}
.top-title img{
    width: 20vw;
    height: 6vw;
    object-fit: cover;
    margin: auto;
}
.top-mobile{display: none;}

.separation-title{
    height: 320px;
    margin: 180px 0;
}
.separation-title h2{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1;
    padding: 140px 0;
    font-size: 40px;
    font-family: 'せのびゴシック';
    color: #fff;
}
.separation-title div{
    position: absolute;
    left: 0;
    right: 0;
    height: 320px;
}
.separation-title img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.separation-mask{
    background-color: rgb(239, 228, 213);
    transition: .8s;
}

#ogijima{
    margin-top: 120vh;
}
#ogijima h2{
    text-align: center;
    margin-bottom: 64px;
}
.reference-image{
    display: flex;
    margin: 48px 0;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#reference-image-window{
    height: 36vw;
    width: 48vw;
    object-fit: contain;
}
.reference-image__wrapper p{
    text-align: center;
}
.reference-image__list{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 16.5vw;
    height: max-content;
}
.reference-image__list img{
    width: calc(5.5vw - 6px);
    height: calc(5.5vw - 6px);
    object-fit: cover;
    /* border: solid 1.5px #000; */
    border-radius: 4px;
    cursor: pointer;
}

.place-flex__wrapper{
    margin-top: 64px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.place-flex__wrapper div{
    width: 32vw;
}
.place-flex__wrapper img{
    width: 32vw;
    height: 24vw;
    object-fit: cover;
    margin-bottom: 24px;
}
.place-flex__wrapper h4{
    text-align: center;
    margin-bottom: 36px;
}
.place-mobile{display: none;}

.plan-select-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 24px;
}
.plan-select-list__content{
    padding: 8px 0;
    width: 20vw;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.plan-select-list__content-active{
    color: rgb(239, 228, 213);
    background-color: rgb(90, 77, 79);
}
.plan-list{
    width: 70vw;
    overflow: hidden;
    position: relative;
}
.plan-list__content{
    width: 70vw;
    position: absolute;
    top: 0;
    transition: .8s;
}
/* .plan-list__content h3{margin-bottom: 24px;} */
.plan-list__content-1{left: 0%;}
.plan-list__content-2{left: 100%;}
.plan-list__content-3{left: 200%;}
.plan-list__content table{
    border-spacing: 0;
    text-align: center;
    margin: auto;
    padding: 0 12px;
}
.plan-list__content th{
    border-bottom: solid 1px #000;
    padding: 20px 0;
}
.plan-list__content td{
    border-bottom: solid 1px #000;
    padding: 20px 0;
}
tr.two-lines-top th{
    padding: 20px 0 4px;
}
tr.two-lines-bottom th{
    padding: 4px 0 20px;
}
.table-1-1{width: calc(12vw - 24px);}
.table-1-2{width: 18vw;}
.table-2-1{width: calc(12vw - 24px);}
.table-2-2{width: 18vw;}
.table-2-3{width: 10vw;}
.plan-list__content > ul{
    margin: 24px auto;
}
.plan-list__content > ul > li{
    margin: 8px 0;
}
.plan-list__content-1 > ul{
    width: calc(48vw - 24px);
    padding: 0 12px 0 calc(12px + 1em);
    /* padding-left: 1em; */
}
.plan-list__content-2 > ul, .plan-list__content-3 > ul{
    width: calc(50vw - 24px);
    padding-left: 1em;
}

.calender_wrapper{
    width: 30vw;
    margin: 0;
    height: 330px;
}
#calender_header {
    width: max-content;
}
#calendar {
    text-align: center;
    width: 100%;
}
#calendar table {
    outline: 1.5px solid rgb(90, 77, 79);
    border-collapse: collapse;
    width: 100%;
}
#calendar th {
    color: rgb(239, 228, 213);
    background-color: rgb(90, 77, 79);
}
#calendar th, #calendar td {
    outline: 1px solid rgb(90, 77, 79);
    padding: 2px 4px;
    text-align: center;
}
#calendar td.disabled {
    color: rgb(90, 77, 79);
}
#next-prev-button {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 12px;
}
#next-prev-button button{
    cursor: pointer;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 8px;
    font-size: 14px;
    padding: 2px 24px;
    transition: .3s;
    background: none;
    height: max-content;
}
#next-prev-button button:hover{
    background: rgb(90, 77, 79);
    color: rgb(239, 228, 213);
}
#calender_prev {
    float: left;
}
#calender_next {
    float: right;
}
.schedule-0:after, .schedule-1:after, .schedule-2:after, .schedule-3:after, .schedule-10:after{
    font-weight: bold;
}
.schedule-0:after{
    content: "〇";
    color: rgb(68,58,59);
    font-weight: 400;
}
.schedule-1:after{
    content: "□";
    color: rgb(123, 148, 167);
}
.schedule-2:after{
    content: "△";
    color: rgb(108, 126, 63);
}
.schedule-3:after, .schedule-10:after{
    content: "×";
    color:rgb(230,95,96);
}
.reservation-status__wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.calendar-green{color:rgb(108, 126, 63);}
.calendar-blue{color: rgb(123, 148, 167);}
.calendar-red{color:rgb(230,95,96);}
.calendar-green, .calendar-blue, .calendar-red{font-weight: bold;}
.reservation-status__wrapper > p{
    margin-top: 36px;
}

.flow__list{
    display: flex;
    border-left: solid 2px rgb(230,95,96);
    margin: 36px 0 36px 12px;
    padding: 0 12px;
}
.flow__list img{
    width: 8vw;
    margin: 0 24px 0 12px;
    height: 8vw;
    object-fit: cover;
}
.flow__list-1 img{transform: translateX(5px);}
.flow__list-3 img{transform: translateX(-3px);}
.flow__list-mobile{
    display: none;
}
.flow__text{
    height: max-content;
    margin: auto 0;
}

#precautions ul{padding-left: 1em;}
#precautions li{
    margin: 8px 0;
}
#open-terms-of-service{
    color:rgb(230,95,96);
    text-decoration: underline;
    cursor: pointer;
}
#terms-of-service > ul > li{
    margin: 8px 0;
}
#terms-of-service ol, #terms-of-service ul{padding-left: 2em;}
#terms-of-service ol li{
    margin: 8px 0;
}
.terms-of-service__bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
    transition: .8s;
    display: none;
    opacity: 0;
}
.terms-of-service__card{
    background-color: rgb(239, 228, 213);
    width: 80vw;
    margin: 10vh auto;
    height: 80vh;
    border-radius: 4px;
}
.terms-of-service__title{
    padding: 8px 24px;
    color: rgb(239, 228, 213);
    background-color: rgb(90, 77, 79);
    font-family: 'ロンド B';
    border-radius: 4px 4px 0 0;
}
.terms-of-service__close-btn{
    position: absolute;
    top: calc(10vh + 25px);
    right: calc(10vw + 24px);
    transform: translateY(-50%);
    color: rgb(239, 228, 213);
    cursor: pointer;
}
.terms-of-service__text{
    height: calc(80vh - 125px);
    overflow: auto;
    padding: 24px 64px 48px;
}
.terms-of-service__text h3{
    margin-top: 24px;
}
.terms-of-service__text > ol > li > ol{
    list-style-type: lower-alpha;
}
form{
    width: 50vw;
    margin: 24px auto 0;
    position: relative;
}
form > p{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
}
form > p > input, form > p > textarea{
    /* paddingとborderのぶん縮める */
    width: calc(100% - 20px);
    border: solid 2px rgb(90, 77, 79);
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: rgb(248,243,236);
}
#id_content{
    resize: none;
}
.privacypolicy-check__wrapper{
    margin: 36px auto;
    width: max-content;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.privacypolicy-check__wrapper p{
    width: max-content;
}
#privacypolicy-check{
    width: 18px;
    margin: 6.4px 0 4.4px 12px;
    height: 18px;
}
#privacypolicy-check{
    display: none;
}
#privacypolicy-check+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
#privacypolicy-check+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    left: 0;
    top: 50%;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 4px;
    margin-left: 12px;
}
#privacypolicy-check:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 15px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  rgb(239, 228, 213);
}
#privacypolicy-check:checked+label::before{
    background-color: rgb(90, 77, 79);
}
#submit-button{
    margin: auto;
    font-size: 18px;
    padding: 12px 36px;
    background-color: rgb(90, 77, 79);
    border: none;
    border-radius: 12px;
    color: rgb(239, 228, 213);
    display: block;
    cursor: pointer;
    opacity: 0.3;
    transition: .3s;
}
#button-cover{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
    opacity: 1;
    width: max-content;
    border-radius: 12px;
    opacity: 0;
    user-select: none;
}
.swal-text{
    color: rgb(68,58,59);
}
.swal-button{
    background-color: rgb(90, 77, 79);
    color: rgb(239, 228, 213);
    transition: .3s;
}
.swal-button:hover{
    opacity: 0.7;
    background-color: rgb(90, 77, 79) !important;
}

label[for="id_application_file"], label[for="id_terms_file"]{
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 4px 0;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
    background-color: rgb(230,95,96);
    width: 100px;
    text-align: center;
    border-top: solid 2px rgb(90, 77, 79);
    border-bottom: solid 2px rgb(90, 77, 79);
    border-left: solid 2px rgb(90, 77, 79);
    border-right: none;
    line-height: normal;
    cursor: pointer;
}
label[for="id_application_file"]:hover, label[for="id_terms_file"]:hover{
    background-color: rgb(235, 129, 129);
}
.filenamebox input{
    width: calc(100% - 18px);
    border-radius: 0 6px 6px 0;
    padding: 4px 8px;
    font-size: 16px;
    background-color: rgb(248,243,236);
    border-top: solid 2px rgb(90, 77, 79);
    border-bottom: solid 2px rgb(90, 77, 79);
    border-right: solid 2px rgb(90, 77, 79);
    border-left: none;
    pointer-events: none;
}
#id_application_file, #id_terms_file{
    display: none;
}
.filenamebox{
    width: calc(100% - 100px);
}
.filenamebox__wrapper{
    -webkit-flex-direction: row;
    flex-direction: row;
}

.information-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 64px 0;
}
.information-list-button{
    width: 17vw;
    text-align: center;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 12px;
    cursor: pointer;
    color: rgb(68,58,59);
    text-decoration: none;
    transition: .5s;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.information-list-button img{
    width: 64px;
    margin-right: 8px;
    height: 64px;
    object-fit: contain;
}
.information-list-button span{
    display: block;
    height: max-content;
    text-align: center;
}
.information-list-button:hover{
  background-color: rgb(245, 234, 231);
}

@media screen and (max-width:1020px) {
    header{
        transform: translateY(-100%);
    }
    .mobile-br{display: inline;}
    .top-pc{display: none;}
    .top-mobile{
        display: block;
        position: absolute;
        top: 0;
        /* bottom: 0; */
        left: 0;
        right: 0;
        /* background-color: rgb(90, 77, 79); */
        overflow: hidden;
    }
    .top-mobile__bg{
        width: 100%;
        object-fit: cover;
    }
    .top-mobile__bg-1{
        height: 45vh;
        /* transform: translateX(-100%); */
        transition: .8s;
        opacity: 0;
        position: relative;
    }
    /* .top-mobile__bg-2{
        height: 35vh;
        position: absolute;
        top: 65vh;
        left: 0;
        right: 0;
        transform: translateX(100%);
        transition: .8s;
        opacity: 0;
    } */
    .top-mobile-logo{
        width: 70vw;
        height: 30vw;
        position: absolute;
        left: 0;
        right: 0;
        top: calc(22.5vh - 15vw);
        margin: auto;
        object-fit: cover;
    }
    .top-mobile__text h1{
        /* color: rgb(245, 234, 231); */
        font-family: 'ロンド B';
        display: block;
        font-size: 18px;
        text-align: center;
        line-height: 1;
    }

    #ogijima{
        margin-top: 50vh;
    }

    #swiper{
        width: 90vw;
        height: 75vw;
    }
    .swiper-button-next{
        right: 20vw;
    }
    .swiper-button-prev{
        left: 20vw;
    }
    .separation-title h2{
        letter-spacing: -0.2em;
        padding: calc(25vw - 10px) 0;
    }
    .separation-title, .separation-title div, .separation-title div img{
        height: 50vw;
    }
    #place{
        position: relative;
    }
    #place h4{
        text-align: center;
        margin-bottom: 12px;
    }
    .place__card{
        width: 90vw;
        height: 50vw;
        position: relative;
    }
    .place__card-front, .place__card-back{
        width: 90vw;
        height: 50vw;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: .5s;
        border-radius: 12px;
        box-shadow: 4px 4px 16px #999;
        background-color: rgb(245, 234, 231);
    }
    .place__card-front{transform: rotateY(0deg);}
    .place__card-back{transform: rotateY(180deg);}
    /* .place__card:hover .place__card-front{transform: rotateY(-180deg);}
    .place__card:hover .place__card-back{transform: rotateY(0deg);} */
    .place__card-back p{padding: 8px 12px;}
    .tap-icon{
        height: 28px;
        width: 28px;
        object-fit: contain;
        position: absolute;
        right: 7px;
        animation: yurayura 2s linear infinite;
        transition: .8s;
    }
    .tap-icon-1{top: calc(50vw + 100px);}
    .tap-icon-2{top: calc(100vw + 172px);}
    .place-pc{display: none;}
    .place-mobile{display: block;}
    
    @keyframes yurayura {
        0% , 100%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
    }

    .plan-select-list__content{
        width: 28vw;
        line-height: 1;
    }

    .flow__list{
        display: none;
    }
    .flow__list-mobile{
        display: block;
        border-left: solid 2px rgb(230,95,96);
        margin: 36px 0;
        padding: 12px 0 12px 16px;
    }
    .flow__list-mobile div{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .flow__list-mobile img{
        width: 30vw;
        height: 22vw;
        object-fit: cover;
        margin-right: 16px;
    }
    .flow__list-mobile-1 img{transform: translateX(5px);}
    .flow__list-mobile-3 img{transform: translateX(-3px);}

    .terms-of-service__card{
        width: 95vw;
    }
    .terms-of-service__close-btn{
        right: calc(2.5vw + 24px);
    }

    form{
        width: 90vw;
    }
    .information-list{
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 100px;
     }
    .information-list-button{
        margin: 8px auto;
        width: 70vw;
    }
    .information-list-button span{
        width: 30vw;
    }

    .reference-image{
        flex-flow: column;
    }
    .reference-image__wrapper{
        margin-bottom: 24px;
    }
    #reference-image-window{
        height: 75vw;
        width: 90vw;
    }
    .reference-image__list{
        width: 90vw;
        flex-wrap: wrap;
    }
    .reference-image__list img{
        width: calc(18vw - 6.4px);
        height: calc(18vw - 6.4px);
    }
    .plan-list{
        width: 90vw;
    }
    .plan-list__content{
        width: 90vw;
    }
    .table-1-1{width: calc(20vw - 24px);}
    .table-1-2{width: 35vw;}
    .table-2-1{width: calc(20vw - 24px);}
    .table-2-2{width: 24vw;}
    .table-2-3{width: 28vw;}
    .plan-list__content-1 ul, .plan-list__content-2 ul, .plan-list__content-3 ul{width: calc(90vw - 1em - 24px);}

    .calender_wrapper{
        width: 90vw;
        margin-bottom: 12px;
    }
    .reservation-status__wrapper{flex-flow: column;}
    .reservation-status__wrapper > p{
        margin: 0;
    }
    .terms-of-service__text{padding: 24px 12px 48px;}
    .terms-of-service__text h3{font-size: 18px;}
    .terms-of-service__text h5{font-size: 16px;}
    .mobile-hidden{display: none;}
}