*{
    margin: 0;
    /* font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Zen Maru Gothic"; */
    /* font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif; */
    /* font-family: "Futura-CondensedExtraBold", Futura, sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.g-recaptcha{
    margin: 36px auto;
    width: max-content;
}

h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 14px;}
p,li,th,td{font-size: 14px;}
h1,h2,h3,h4,h5,h6,p,li,span,th,td{color:rgb(68,58,59);}
/* h1,h2,h3,h4,h5,h6{font-weight: 400;} */
p{line-height: 1.8;}
.header_image_link{
    height: 10vh;
    margin-left: 16px;
}
a{
    font-size: 14px;
    color:rgb(230,95,96);
    text-decoration: underline;
    cursor: pointer;
}
.pagetitle{
    font-family: 'ロンド B';
    width: max-content;
}
/* .pagetitle:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    height: 6px;
} */

html{
    background-color: rgb(239, 228, 213);
}

/* header */
header{
    top: 0;
    height: 10vh;
    /* width: 100vw; */
    text-align: center;
    position: fixed;
    background-color: rgb(239, 228, 213);
    /* background-color: rgba(239, 228, 213, 0.4); */
    z-index: 100;
    left: 0;
    right: 0;
}

.header_menu {
    /* width: fit-content; */
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.header_menu_tags {
    display: flex;
    justify-content: space-evenly;
    margin: auto 16px 0 0;
    padding: 0;
}

.header_menu_tags > li {
    list-style: none;
    /* width: 9vw; */
    /* width: 10vw; */
    position: relative;
    padding: 0 16px;
}


/* hoverでラインが動く仕様 */
.header_menu_tags > li::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(90, 77, 79);
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.header_menu_tags > li:hover::after {
    transform: scale(1, 1);
}
/* hoverラインおわり */

.header_menu_tags > li > a{
    color: rgb(90, 77, 79);
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 2vh;
    display: block;
    font-weight: 200;
    font-family: 'ロンド B';
    letter-spacing: -0.15em;
}

header img{
    object-fit: cover;
    height: 9vh;
    width: 15.5vw;
    /* margin: 0.5vh 1vw 0.5vh 1.5vw; */
    margin: 0.5vh auto 0.5vh;
}

/* サブメニュー */
.sub {
    padding: 0;
    background-color: rgba(239, 228, 213, 0.85);
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: .5s;
}

.sub_menu:hover .sub{
    opacity: 1;
    transition: .5s;
    height: auto;
}

.sub > li {
    list-style: none;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.sub > li > a {
    width: fit-content;
    color: rgb(90, 77, 79);
    text-decoration: none;
    font-size: 10px;
    position: relative;
    margin: 10px auto 10px 4px;
    display: block;
    text-align: left;
}
.sub > li > .space-tight{
    letter-spacing: -0.15em;
}

.sub > li > div {
    margin: auto 4px;
    display: block;
    font-size: 12px;
    color: rgb(90, 77, 79);
}

.nav_btn{
    display: none;
}

.close_btn{
    display: none;
}
/* サブメニューおわり */
/* headerおわり */

.main-panel{
    margin: calc(48px + 8vh) 15vw 64px;
    width: 70vw;
    min-height: 60vh;
}

footer{
    bottom: 0;
    height: max-content;
    width: auto;
    padding: 32px;
    background-color: rgb(90, 77, 79);
    border-bottom: solid 10px rgb(90, 77, 79);
}
.footer__wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 88vw;
    margin: 0 auto;
}

.footer__link-box{
    width: 30vw;
    /* margin-left: 6vw; */
}

.footer__link-list{
    margin: 0 0 12px;
    text-align: left;
}

.footer__link-text{
    cursor: pointer;
    color: #ccc;
    text-decoration: underline;
}

.footer__sns-link{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.footer__sns-link a{
    margin: 0 8px;
    padding: 7.5px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
.footer__sns-link__instagram{background-color: rgb(255, 0, 118);}
.footer__sns-link__twitter{background-color: rgb(29, 161, 242);}
.footer__sns-link__facebook{background-color: rgb(24, 119, 242)}
.footer__sns-link img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}


.footer__logo{width: 30vw;}

.footer__logo a{
    width: max-content;
    height: max-content;
    display: block;
    margin: 0 0 0 auto;
}

.footer__logo img{
    margin: 0;
    width: 20vw;
    height: 7vw;
    object-fit: cover;
    display: block;
}

.footer__copyright{
    color: rgb(239, 228, 213);
    display: block;
    width: max-content;
    margin-left: auto;
    font-size: 12px;
}
#copyright_year{
    color: rgb(239, 228, 213);
}

@media screen and (max-width:1020px) {
    .pagetitle{font-weight: 100;}

    header img{
        height: 9vh;
        width: 28vh;
        margin: 0.5vh 1vw;
        object-fit: cover;
    }
    .header_image_link{
        height: max-content;
        display: inline-block;
        margin: 0;
    }

    .header_menu{
        width: auto;
        display: block;
    }

    .header_menu_tags{
        display: none;
    }

    .header_menu_tags > li{
        height: 48px;
        /* width: 80vw; */
        width: calc(80vw - 48px);
        margin: auto 10vw;
    }

    .header_menu_tags :nth-child(2) {
        margin-top: 6vh;
    }

    .header_menu_tags > li > a{
        font-size: 24px;
        text-align: left;
        color: rgb(239, 228, 213);
    }

    .header_menu_tags > li::after {
        content: ">";
        bottom: 0;
        top: 0;
        right: 1rem;
        left: auto;
        color: rgb(239, 228, 213);
        font-size: 24px;
        font: "awesome";
        width: auto;
        height: auto;
        background-color: unset;
        transform: none;
    }

    .sub {
        display: none;
    }

    .nav_btn{
        font-family: "awesome";
        display: unset;
        position: absolute;
        right: 12px;
        padding: 0;
        margin: auto;
        border-style: none;
        background: none;
        font-size: 36px;
        height: inherit;
        color: rgb(90, 77, 79);
        cursor: pointer;
        top: 0;
        bottom: 0;
        height: max-content;
        line-height: 1;
    }
    
    .close_btn {
        display: block;
        display: block;
        border-style: none;
        background: none;
        font-size: 18px;
        color: rgb(239, 228, 213);
        cursor: pointer;
        position: absolute;
        top: 6vh;
        right: 5vw;
    }
    
    /*メニュー選択時に表示*/
    .show_nav{
        z-index: 1;
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.8);
        padding-top: 16vh;
    }


    .main-panel{
        width: 90%;
        margin: calc(48px + 8vh) 5vw 64px;
    }

    .footer__wrapper{
        height: max-content;
        flex-flow: column;
    }
    .footer__link-box{
        width: 100%;
        margin: 32px 0;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .footer__link-text{font-size: 14px;}
    .footer__link-list{margin: 0;}
    .footer__link-link{gap: 8px;}
    .footer__link-link a{margin: 0;}
    .footer__logo{
        width: 100% ;
        margin: 0 0 32px;
    }
    .footer__logo a{
        /* position: absolute;
        top: 0;
        left: 0;
        right: 0; */
        margin: auto;
    }
    .footer__logo img{
        margin: 0;
        width: 60vw;
        height: 20vw;
        position: static;
    }

    .footer__copyright{
        text-align: center;
        /* margin-top: 20vw; */
        margin-right: auto;
    }
}