.list__wrapper{
    display: -webkit-flex;
    display: flex;
    /* -webkit-justify-content: space-between;
    justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 36px;
}
.list__wrapper a{
    width: 22vw;
    text-decoration: none;
    margin: 0 calc(4vw / 6) 1vw;
}
.list__wrapper a img{
    width: 100%;
    height: 16.5vw;
    object-fit: cover;
}
.list__wrapper a h4{
    text-decoration: none;
    color:rgb(68,58,59);
}
.list__wrapper a h4:hover{
    text-decoration: none;
}

.list__wrapper a{
    width: 22vw;
    margin-bottom: 1vw;
    text-decoration: none;
}
.list__wrapper a img{
    width: 100%;
    height: 17.25vw;
    object-fit: cover;
}
.information-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 64px 0;
}
.information-list-button{
    width: 17vw;
    text-align: center;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 12px;
    /* padding: 8px 0; */
    cursor: pointer;
    color: rgb(68,58,59);
    text-decoration: none;
    transition: .5s;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.information-list-button img{
    width: 64px;
    margin-right: 8px;
    height: 64px;
    object-fit: contain;
}
.information-list-button span{
    display: block;
    height: max-content;
    text-align: center;
}
.information-list-button:hover{
  /* background-color: rgb(90, 77, 79);
  color: rgb(239, 228, 213); */
  background-color: rgb(245, 234, 231);
}

@media screen and (max-width:1020px) {
    .list__wrapper a{
        width: 44vw;
        margin: 0 calc(2vw / 4) 16px;
    }
    .list__wrapper a img{
        height: 33vw;
    }
    .list__wrapper a h4{
        font-size: 16px;
    }
    .information-list{
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 100px;
     }
    .information-list-button{
        margin: 8px auto;
        width: 70vw;
    }
    .information-list-button span{
        width: 30vw;
    }

}