.pagination__nav{
    width: max-content;
    margin: 48px auto 64px;
}
.pagination{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 8px;
}
.pagination li a, .pagination__disabled, .pagination__disabled-next, .pagination__disabled-prev{
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    line-height: 1.6;
}
.pagination li a, .pagination__disabled{
    color:rgb(68,58,59);
    border: solid 1px rgb(90, 77, 79);
}
.pagination li a{
    color:rgb(68,58,59);
    transition: .3s;
}
.pagination li a:hover{
    color: rgb(239, 228, 213);
    background-color: rgb(90, 77, 79);
}
.pagination__disabled{
    color: rgb(239, 228, 213);
    background-color: rgb(90, 77, 79)
}
.pagination__disabled-next, .pagination__disabled-prev{
    color:rgba(68,58,59, 0.3);
    border: solid 1px rgba(90, 77, 79, 0.3);
}
.pagination__disabled-next span, .pagination__disabled-prev span{
    color:rgba(68,58,59, 0.3);
}

@media screen and (max-width:1020px) {
    .pagination li a, .pagination__disabled, .pagination__disabled-next, .pagination__disabled-prev{
        font-size: 12px;
        padding: 4px 8px;
    }
    .pagination__mobile-delete{
        display: none;
    }
    .pagination{
        gap: 4px;
    }
}