.top{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.top__imagebox{
    width: 32vw;
}
.top__image{
    width: 32vw;
    height: 24vw;
    object-fit: contain;
}
.image-list{
    display: -webkit-flex;
    display: flex;
    /* -webkit-justify-content: space-between;
    justify-content: space-between; */
    gap: 4px;
    margin: 12px 0;
    flex-wrap: wrap;
}
.image-list img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: solid 1px #000;
    border-radius: 4px;
    cursor: pointer;
}
.top__textbox{
    width: 35vw;
}
.top__textbox-subtitle{
    margin-top: 12px;
}
.top__introduction, .businessHour p{
    line-height: 1.4;
}
.fas{
    margin-right: 8px;
    color:rgb(68,58,59);
}
.sns-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.sns-list a{
    margin: 12px 8px;
    padding: 7.5px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
.sns-list__instagram{background-color: rgb(255, 0, 118);}
.sns-list__twitter{background-color: rgb(29, 161, 242);}
.sns-list__facebook{background-color: rgb(24, 119, 242)}
.sns-list img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}