.top{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.top__imagebox{
    width: 32vw;
}
.top__image{
    width: 32vw;
    height: 24vw;
    object-fit: contain;
}
.image-list{
    display: -webkit-flex;
    display: flex;
    gap: 4px;
    margin: 12px 0;
    flex-wrap: wrap;
}
.image-list img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: solid 1px #000;
    border-radius: 4px;
    cursor: pointer;
}
.top__textbox{
    width: 35vw;
}
.top__textbox-subtitle{
    margin-top: 12px;
}
.top__introduction, .businessHour p{
    line-height: 1.4;
}
.fas{
    margin-right: 8px;
    color:rgb(68,58,59);
}
.sns-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.sns-list a{
    margin: 12px 8px;
    padding: 7.5px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
.sns-list__instagram{background-color: rgb(255, 0, 118);}
.sns-list__twitter{background-color: rgb(29, 161, 242);}
.sns-list__facebook{background-color: rgb(24, 119, 242)}
.sns-list img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.document h1, .document h2, .document h3, .document h4, .document h5, .document h6{
    margin-top: 12px;
}

.locationinfo{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.locationinfo__title{
    padding-top: 10vh;
}
.map{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map__frame{
  /* 横幅いじったらJSのmapAreaの中身修正しないといけない */
  width: 40vw;
  height: 60vh;
  overflow: auto;
  position: relative;
  margin: 24px;
}

.map__image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.map__wrapper{
  position: relative;
  margin: auto;
}

.mark{
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

.mark a{
    display: block;
    width: 100%;
    height: 100%;
}

.mark{background-color: #cff;}

.map__text{
    margin-top: 24px;
}
.map__text p{
    line-height: 1.2;
} 

@media screen and (max-width:1020px) {
    .top{
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .top__imagebox{
        width: 90vw;
    }
    .top__image{
        width: 90vw;
        height: 67.5vw;
        object-fit: contain;
    }
    .top__textbox{
        width: 90vw;
    }


    .locationinfo{
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .map{
        display: flex;
        align-items: center;
    }
    .map__frame{
        width: calc(100vw - 48px);
        /* ここを65にしているのは、Safariのヘッダー対策。
        地図はほぼ正方形なので、これくらいの大きさにしておけばいい感じに収まってくれるだろうという数字 */
        height: calc(65vh - 48px);
        margin: 24px;
    }

    .map__image{
        height: max-content;
        pointer-events: none;
    }

    .mark a{
        /* display: block;
        width: 100%;
        height: 100%; */
        display: none;
    }
}