.pagetitle{
    margin-bottom: 48px;
}
.banner{
    display: flex;
    margin: 24px 10vw;
}
.banner__name{
    width: 24vw;
    margin-left: 2vw;
    font-size: 20px;
}
.banner img{
    height: 7.5vw;
    width: 24vw;
    /* object-fit: contain; */
    object-fit: cover;
}
.name{
    width: 50vw;
    margin: 12px 10vw;
    font-size: 20px;
}

@media screen and (max-width:1020px) {
    .banner{
        display: block;
        width: 80vw;
        margin: 24px 5vw;
    }   
    .banner img{
        width: 80vw;
        height: 25vw;
    }
    .banner__name{
        width: 80vw;
    }
    .name{
        width: 80vw;
        margin: 12px 5vw;
    }
}