h2, h3, h2 span{
    font-family: 'ロンド B';
}
h2{
    width: max-content;
}
/* 下線延びるやつ */
h2:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    height: 6px;
    transition: .3s;
    width: 0;
}
/* 左から出てくるやつ（Span） */
/* h2{
    overflow: hidden;
} */
/* h2 span{
    transform: translateX(-100%);
    display: block;
    transition: .5s;
} */
/* h2 span:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    height: 6px;
} */
/* 線超えたら出てくるやつ（Span） */
/* h2{
    overflow: hidden;
}
h2 span{
    display: block;
    transform: translateY(100%);
    transition: .5s;
}
h2 span:after{
    content: "";
    display: block;
    background-color: rgb(230,95,96);
    border-radius: 3px;
    transition: .3s;
    position: relative;
    height: 6px;
    margin-top: -6px;
}
.h2mask:after{
    height: 41px;
    margin-top: -41px;
} */

.titlelinein:after{
    width: 100%;
}
h3{margin-bottom: 24px;}
section{
    margin-top: 120px;
}
#swiper, #top{
    opacity: 0;
}
.delay{
    transition: 4s;
}
.mobile-br{display: none;}
.section-title{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}
#work-2{
    margin-top: 64px;
}
#top{
    height: 90vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 10vh;
    left: 0;
    margin-top: 0;
}
.titletext-1{
    position: absolute;
    top: 7vh;
    width: 21vw;
    left: 5vw;
}
.titletext-2{
    width: 60vw;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
}
/* .titlescroll{
    position: absolute;
    bottom: 0;
    width: 5vw;
    margin: auto;
    left: 0;
    right: 0;
} */
.scrollicon {
    padding-top: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    /* color:rgb(239, 228, 213); */
    color: #fff;
    text-decoration: none;
}
.scrollicon span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    /* border: 2px solid rgb(239, 228, 213); */
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
.scrollicon span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    /* background-color: rgb(239, 228, 213); */
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#news{
    margin-top: 150vh;
}
.notification__wrap{
    text-decoration: none;
    display: flex;
    width: 50vw;
    margin: 8px 10vw;
}
.notification__wrap:hover{
    text-decoration: underline;
    text-decoration-color: rgb(68,58,59);
}
.notification__date{
    width: 12vw;
}
.notification__content{
    width: 38vw;
}
.work__box{
    width: 50vw;
    display: block;
    margin: 12px auto 24px;
    text-decoration: none;
}
.work__box:hover{
    text-decoration: none;
}
.work__box img{
    width: 50vw;
    height: 16vw;
    object-fit: cover;
}
.work__content{
    position: relative;
    height: 38.4px;
    overflow: hidden;
    line-height: 1.2;
    line-break: normal;
    word-break: break-word;
}
.work__content:before, .work__content:after {
    position: absolute;
    background: rgb(239, 228, 213);
}
.work__content:before {
    content: "･･･";
    bottom: 0;
    right: 0;
}
.work__content:after {
    content: "";
    width: 100%;
    height: 100%;
}
.work__link-button{
    color:rgb(0,112,192);
    text-decoration: underline !important;
    text-align: right;
}
.no-works{
    text-align: center;
    font-size: 20px;
    margin-bottom: 64px;
}
hr{
    width: 40vw;
    margin: auto auto 36px;
    color: rgb(90, 77, 79);
}

.map{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map__frame{
    /* 横幅いじったらJSのmapAreaの中身修正しないといけない */
    width: 70vw;
    height: calc(92vh - 48px);
    overflow: auto;
    position: relative;
    margin: 24px 0;
}

.map__image{
    width: 70vw;
    height: calc(92vh - 48px);
    object-fit: contain;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.map__wrapper{
    width: 70vw;
    height: calc(92vh - 48px);
    position: relative;
    margin: auto;
}

.mark{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
}

.mark a{
    display: block;
    width: 100%;
    height: 100%;
}

.mark_1{background-color: #cff;}
.mark_2{background-color: #fcf;}
.mark_3{background-color: #ffc;}
.mark_4{background-color: #fcc;}

#popup{
    position: absolute;
    z-index: 50;
}

#popup span{
    padding: 0 4px;
}

#popup .upblock{
    display: none;
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    flex-flow: column;
}

.popup__title{
    display: flex;
}
.popup__text{
    font-size: 12px;
    text-align: center;
}
.popup__link{
    display: none;
}

.popup__icon{
    font-size: 10px;
    border-radius: 16px;
    border: solid #ccc 1px;
    width: max-content;
    padding: 3px;
    font-weight: bold;
    margin-right: 4px;
}
.popup__icon-1{background-color: #cff;}
.popup__icon-2{background-color: #fcf;}
.popup__icon-3{background-color: #ffc;}

#map-expansor{
    display: none;
}

.zoom-mordal{
    display: none;
}

.swiper{
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-bottom: 100vh;
    height: 90vh;
    z-index: -4;
}
.swiper-mask{
    background-color: rgb(239, 228, 213);
    opacity: 0;
    z-index: -3;
}
.swiper-hide-mask{
    background-color: rgb(239, 228, 213);
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#desire{
    margin-bottom: 200px;
}
.desire__wrapper{
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    margin-top: 24px;
    left: 0;
    right: 0;
    padding: 48px 15vw;
    background-color: rgb(230,95,96);
}
.desire__list{
    width: 22vw;
}
.caption{
    color: rgb(239, 228, 213);
}
.desire__text{
    font-size: 20px;
    margin: 12px 0;
    color: rgb(239, 228, 213);
}

@media screen and (max-width:1020px) {
    .mobile-br{display: block;}
    .mobile-delete{display: none;}
    .caption-block p{font-size: 24px;}
    .caption{height: 43.2px;}
    .caption-block{border-bottom: 43.2px solid rgba(230,95,96,0.7);}
    .caption-block-right{border-left: 9px solid transparent;}
    .caption-block-left{border-right: 9px solid transparent;}
    .work__box, .work__box img{width: 70vw;}
    .work__box img{height: 22vw;}
    .work__date{line-height: 1.2;}
    .work__link-button{font-size: 12px;}
    hr{width: 60vw;}

    .notification__wrap{
        margin: 8px 0;
        width: 90vw;
        flex-flow: column;
    }
    .notification__date{
        width: auto;
        line-height: 1.2;
    }
    .notification__content{
        width: auto;
        margin-left: 12px;
        line-height: 1.2;
    }

    #information{
        position: relative;
        padding-bottom: 112px;
    }
    .map{
        display: flex;
        align-items: center;
    }
    .map__frame{
        width: calc(100vw - 48px);
        /* ここを65にしているのは、Safariのヘッダー対策。
        地図はほぼ正方形なので、これくらいの大きさにしておけばいい感じに収まってくれるだろうという数字 */
        height: calc(65vh - 48px);
        margin: 24px;
        transform: translateX(-5vw);
    }

    .map__image{
        height: max-content;
        pointer-events: none;
    }

    .mark a{
        /* display: block;
        width: 100%;
        height: 100%; */
        display: none;
    }

    #popup{
        bottom: 6vh;
        left: 0;
        right: 0;
        text-align: center;
        padding: 12px;
    }

    .popup__icon{
        font-size: 14px;
        margin-right: 14px;
        padding: 4px;
    }
    .popup__name{
        font-size: 18px;
    }
    .popup__text{
        display: none;
    }
    .popup__link{
        display: block;
        font-size: 12px;
    }

    .mobile-none{
        display: none;
    }

    .zoom-mordal{
        position: absolute;
        top: 0;
        width: 100vw;
        /* height: 100vh; */
        background-color: rgba(0,0,0,0.4);
        z-index: 200;
    }
    .zoom-mordal__window{
        margin: auto;
        width: 60vw;
        height: max-content;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        border: solid 4px #000;
        border-radius: 24px;
        padding: 32px;
    }
    .zoom-mordal__text{
        font-size: 16px;
    }
    .zoom-mordal__button{
        font-size: 16px;
        color: #1a0dab;
        text-align: center;
        margin: 20px 0 0;
        cursor: pointer;
        text-decoration: underline;
    }


    #map-expansor{
        display: block;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
        height: 12px;
        width: 70vw;
        background: #ccc;
        border-radius: 10px;
        border: solid 3px #dff1ff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    #map-expansor::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #ccc;
        width: 12px;
        height: 36px;
        border-radius: 6px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    }
    #map-expansor::-moz-range-thumb {
        background: #ccc;
        width: 12px;
        height: 36px;
        border-radius: 6px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
        border: none;
    }
    #map-expansor::-moz-focus-outer {
        border: 0;
    }
    #map-expansor:active::-webkit-slider-thumb {
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
    }

    .desire__wrapper{
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 48px 5vw;
    }
    .desire__list{
        width: auto;
    }
    .desire__list:nth-child(1), .desire__list:nth-child(2){
        margin-bottom: 48px;
    }
    .caption{
        margin-bottom: 12px;
    }
}