.works-list{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 48px 0;
}
.works-list-button{
    width: 22vw;
    text-align: center;
    border: solid 1px rgb(90, 77, 79);
    border-radius: 12px;
    padding: 12px 0;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}
.works-list-button:hover{
    background-color: rgb(90, 77, 79);
}
.works-list-button:hover > span{
    color: rgb(239, 228, 213);
}
.works-list-button-active{
    background-color: rgb(90, 77, 79);
}
.works-list-button-active span{
    color: rgb(239, 228, 213);
}
.works-list-button span{
    margin: auto;
}

.title{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}
.work__wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-decoration: none;
}
.work__wrapper:hover{
    text-decoration: none;
}
.work__wrapper img{
    width: 25vw;
    height: 10vw;
    object-fit: cover;
}
.work__text{
    width: 40vw;
}
.work__content{
    position: relative;
    height: 38.4px;
    overflow: hidden;
    line-height: 1.2;
    line-break: normal;
    word-break: break-word;
}
.work__content:before, .work__content:after {
    position: absolute;
    background: rgb(239, 228, 213);
}
.work__content:before {
    content: "･･･";
    bottom: 0;
    right: 0;
}
.work__content:after {
    content: "";
    width: 100%;
    height: 100%;
}
.work__link-button{
    color:rgb(230,95,96);
    text-decoration: underline !important;
    text-align: right;
    display: block;
    margin: auto 0 auto auto;
    width: max-content;
}
hr{
    width: 65vw;
    margin: 36px auto;
    color: rgba(90, 77, 79, 0.4);
}

@media screen and (max-width:1020px) {
    .title{
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .title h1{font-size: 22px;}
    .title a{
        display: block;
        margin: auto 0 auto auto;
    }
    .work__wrapper{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .work__wrapper img{
        width: 70vw;
        height: 20vw;
        margin: auto;
    }
    .work__text{
        width: 90vw;
    }
    .work__text h4{
        font-size: 20px;
    }
}